<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <title>내가 신청한 참가 내역</title>
</head>
<body layout:fragment="content">
    <h2>My Page</h2>
    <h1>내가 신청한 참가 내역</h1>

    <!-- 
    <a href="/a/insert">글쓰기</a>
    -->
    
    <table border="1">
        <tr>
            <th width="50">번호</th>
            <th width="300">모집글 제목</th>
            <th width="100">참가자 아이디</th>
            <th width="100">승인 상태</th>
            <th width="80">신청 일자</th>
            <th width="100">연락처</th>
            <th width="100">입금여부</th>
            <th width="100">참가취소</th>
        </tr>

        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
    </table>
</body>
</html>