<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신청한 대관 내역</title>
</head>
<body>
    <h2>My Page</h2>
    <h1>신청한 대관 내역</h1>

    <!--  
        <a href="/a/insert">글쓰기</a>

    -->

    <table border="1">
        <tr>
            <th width="50">번호</th>       <!-- 여기에 있는 번호는 순서를 나타냅니다. -->
            <th width="270">제목</th>
            <th width="120">이름</th>
            <th width="100">연락처</th>
            <th width="180">대관일자</th>
            <th width="80">입금여부</th>
            <th width="80">승인여부</th>
            <th width="80"></th>
            <th width="80"></th>
        </tr>

        <tr>
            <td>1</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td><button>입금확인</button></td>
            <td><button>대관승인</button></td>
        </tr>
    </table>
</body>
</html>