<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>티켓 구매 내역</title>
</head>
<body>
    <h2>My Page</h2>
    <h1>티켓 구매 내역</h1>

    <a href="/a/insert">글쓰기</a>

    <table border="1">
        <tr>
            <th width="100">예매 번호</th>
            <th width="300">공연명</th>
            <th width="100">공연일자</th>
            <th width="100">예매자명</th>
            <th width="80">예매상태</th>
            <th width="100">구매일자</th>
        </tr>

        <tr th:each="a : ${x}">
            <td align="center" th:text="${a.x}"></td>
            <td>
                <!-- th:???="|문자열+${표현식}|" -->
                <a th:href="|/a/read?aNo=${a.x}|" th:text="${a.x}"></a>
            </td>
            <td align="center" th:text="${a.x}"></td>
            <!-- 타임리프 date 포맷 -->
            <!--
                👩‍💻 #유틸리티객체.메소드() 
                #dates.format( 날짜객체명, '날짜포맷' )
                - #dates.format( a.regDate, 'yyyy-MM-dd HH:mm:ss' )
            -->
            <td align="center">
                <span th:text="${ #dates.format( a.regDate, 'yyyy-MM-dd HH:mm:ss') }"></span>
            </td>
            <td align="center">
                <span th:text="${ #dates.format( a.updDate, 'yyyy-MM-dd HH:mm:ss') }"></span>
            </td>
            <td align="center" th:text="${a.x}"></td>
        </tr>
    </table>
</body>
</html>