<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대관 게시글 작성</title>
</head>
<body layout:fragment="content">
    <h1>대관 게시글 작성</h1>
    <form action="/facilityRental/insert" method="POST" id="form" enctype="multipart/form-data">
        <!-- csrf -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="writer" value="hoony">
        <input type="hidden" name="username" value="jh">
        <table>
            <tr>
                <td>제목
                    <input type="text" name="title" th:value="${facilityRental.title}">
                </td>
            </tr>
            <tr>
                <td>가격</td>
                <td>
                    <input type="text" name="price" th:value="${facilityRental.price}">
                </td>
            </tr>
            <tr>
                <td>대관일자</td>
                <td>
                    <input type="text" name="liveDate" th:value="${facilityRental.liveDate}">
                </td>
            </tr>
            <tr>
                <td>계좌번호</td>
                <td>
                    <input type="text" name="account" th:value="${facilityRental.account}">
                </td>
            </tr>
            <tr>
                <td>연락처</td>
                <td>
                    <input type="text" name="phone" th:value="${facilityRental.phone}">
                </td>
            </tr>
            <tr>
                <td>지역</td>
                <td>
                    <select name="location" th:value="${facilityRental.location}">
                        <option value="경기">경기</option>
                        <option value="서울">서울</option>
                        <option value="부산">부산</option>
                        <option value="경남">경남</option>
                        <option value="인천">인천</option>
                        <option value="경북">경북</option>
                        <option value="대구">대구</option>
                        <option value="충남">충남</option>
                        <option value="전남">전남</option>
                        <option value="전북">전북</option>
                        <option value="충북">충북</option>
                        <option value="강원">강원</option>
                        <option value="대전">대전</option>
                        <option value="광주">광주</option>
                        <option value="울산">울산</option>
                        <option value="제주">제주</option>
                        <option value="세종">세종</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>장소</td>
                <td>
                    <input type="text" name="address" th:value="${facilityRental.address}">
                </td>
            </tr>

            <!-- 글 작성 에디터 -->
            <tr>
                <td>게시글 적성 에디터</td>
                <td>
                    <textarea type="text" name="content" th:value="${facilityRental.content}"></textarea>
                </td>
            </tr>
            <tr>
                <td>구매유저(not null이라 적으세요)</td>
                <td>
                    <input type="text" name="buyUsername" th:value="${facilityRental.buyUsername}">
                </td>
            </tr>
            <!-- 이미지 추가에 대한 것 -->
            <tr>
                <td>이미지 추가</td>
                <td>
                    <input type="file" name="file" multiple>
                </td>
            </tr>
        </table>

    </form>
    
    <div>
        <button type="button" onclick="moveList()">목록</button>
        <button type="button" onclick="actionInsert()">등록</button>
    </div>

    <script>

        
        // 목록으로 이동
        function moveList() {
            location.href = "/facilityRental/list"
        }

        // 등록하기
        function actionInsert() {
            form.submit()
        }

 
    </script>

    <script>

        let form = document.getElementById('form')

        // 목록으로 이동
        function moveList() {
            location.href = "/liveBoard/list"
        }

        // 수정하기
        function actionInsert() {
        form.submit()
        }

        var toolbar = [
            // 글꼴 설정
            ['fontname', ['fontname']],
            // 글자 크기 설정
            ['fontsize', ['fontsize']],
            // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
            // 글자색
            ['color', ['forecolor','color']],
            // 표만들기
            ['table', ['table']],
            // 글머리 기호, 번호매기기, 문단정렬
            ['para', ['ul', 'ol', 'paragraph']],
            // 줄간격
            ['height', ['height']],
            // 그림첨부, 링크만들기, 동영상첨부
            ['insert',['picture','link','video']],
            // 코드보기, 확대해서보기, 도움말
            ['view', ['codeview','fullscreen', 'help']]
        ];

        var setting = {
            height : 300,
            minHeight : null,
            maxHeight : null,
            focus : true,
            lang : 'ko-KR',
            toolbar : toolbar,
            callbacks : { 

                onImageUpload : function(files, editor, welEditable) {
                    for (var i = files.length - 1; i >= 0; i--) {
                        uploadImage(files[i], this);
                    }
                }
            }
        };


        $('#content').summernote(setting)

        // 에디터 파일 업로드
        function uploadImage(file, element) {
            const fileUrl = 'http://192.168.30.119:8080/api/file'
            const url = 'http://192.168.30.119:8080/api/file'

            let formData = new FormData()
            formData.append("file", file)

            $.ajax({
                url : url,
                type : "post",
                data : formData,
                contentType : false,
                processData : false,
                success : function(response) {
                    let fileNo = response
                    // let img = `<img src="${fileUrl}/img/${fileNo}">`
                    let imgUrl = `${fileUrl}/img?fileNo=${fileNo}`
                    // 업로드된 이미지url 를 에디터에 추가
                    $(element).summernote('editor.insertImage', imgUrl)
                },
                error : function(error) {

                }
                
            })
        }
    </script>
    <script>

        let fileList = null

        // 드랍존에 이미지를 올렸을 때
        $('.dropzone').on('dragover', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지

            $(this).addClass('over')
        })

        // 드랍존에 이미지를 벗어날 때
        $('.dropzone').on('dragleave', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지

            $(this).removeClass('over')
        })

        // 드랍존에 이미지를 놓았을 때
        $('.dropzone').on('drop', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지
            $(this).removeClass('over')
            
            console.log(e);

            fileList = e.originalEvent.dataTransfer.files

            for (let i = 0; i < fileList.length; i++) {
                const file = fileList[i];

                let reader = new FileReader()

                // 파일 로드 시
                reader.onload = function(event) {
                    let source =  event.target.result   // 파일 데이터
                    let img = `<img src="${source}" >`
                    $('.btn-thumb-remove').show()               // 삭제 버튼 보여주기
                    $('.drop-img .img-box').show().html(img)    // 이미지 보여주기
                    $('.drop-img .upload-box').hide()           // 업로드 영역 숨김

                }
                reader.readAsDataURL(file)
            }

        })

        // 썸네일 삭제 - 클릭 이벤트
        $('.btn-thumb-remove').on('click', function() {
            $('#thumbnail').val(null)       // 등록 파일정보 제거
            $('.upload-box').show()         // 업로드 영역 보여주기
            $('.img-box').empty().hide()    // 썸네일 숨김
            $('.btn-thumb-remove').hide()   // 삭제 버튼 숨김
        })


        // 등록 버튼 - 클릭 이벤트
        $('#btn-insert').on('click', function() {

            // 등록 요청
            const url = 'http://192.168.30.119:8080/api/gallery'

            let formData = new FormData()

            let title = $('#title').val()
            let writer = $('#writer').val()
            let content = $('#content').val()

            let file = $('#file')[0]
            let files = file.files

            formData.append('title', title)
            formData.append('writer', writer)
            formData.append('content', content)

            for (let i = 0; i < files.length; i++) {
                formData.append('file[]', files[i])
            }

            // 썸네일 파일 formData 추가
            if( fileList != null )
                formData.append("thumbnail[]", fileList[0])   // 썸네일 1개

            $.ajax({
                url : url,
                type : 'post',
                data : formData,            
                contentType     : false,    
                processData     : false,    
                success : function(response) {
                    // alert(response)
                    if( response == 'SUCCESS' ) {
                        // alert('등록이 완료되었습니다.')
                        Swal.fire(
                            '완료!',
                            '등록이 완료되었습니다.',
                            'success'
                        ).then((result) => {
                            if( result.isConfirmed ) {
                                // 목록 페이지로 이동
                                location.href = 'list.html'
                            }
                        })
                    }
                    
                },
                error : function(error) {

                }
            })


        })


        // 파일 변경 이벤트
        $('#thumbnail').on('change', function(e) {
            fileList = e.target.files       // 변경된 파일 목록

            for (let i = 0; i < fileList.length; i++) {
                const file = fileList[i];

                let reader = new FileReader() 

                // 파일 로드 시
                reader.onload = function(event) {
                    let source =  event.target.result   // 파일 데이터
                    let img = `<img src="${source}" >`
                    $('.btn-thumb-remove').show()
                    $('.drop-img .img-box').show().html(img)
                    $('.drop-img .upload-box').hide()
                }
                
                reader.readAsDataURL(file)
            }
        })


    </script>
</body>
</html>