<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>클럽 대관</title>
</head>
<body>
    <h1>클럽 대관</h1>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">제목</h5>
          <p class="card-text">날짜</p>
          <p class="card-text">가격</p>
          <p class="card-text">지역</p>        
          <a href="#" class="btn btn-primary">자세히 보기</a>        <!-- 사진을 클릭했을 때 나오게 할 것인지 버튼으로 처리할 것인지 생각하기 -->
        </div>
    </div>
    
    <img th:each="facilityRental : ${facilityRentalList}">
        <img src="" class="card-img-top" alt=""><a th:href="|/facilityRental/read?frNo=${facilityRental.frNo}|"></a></img>
        <h5 class="card-title" th:text="${facilityRental.title}"></h5>
        <p class="card-text" th:text="${facilityRental.updDate}"></p>
        <p class="card-text" th:text="${facilityRental.price}"></p>
        <p class="card-text" th:text="${facilityRental.local}"></p>
    </div>
</body>
</html>