<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대관 게시글 읽기</title>
</head>
<body layout:fragment="content">
    <h1>대관 게시글 읽기</h1>

    <h2><input type="text" name="title" th:value="${facilityRental.title}"></h2>
    <img src="#" alt="">

    <form action="/facilityRental/delete" method="POST" id="form">
        <!-- csrf -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <!-- <input type="hidden" name="frNo" th:value="${facilityRental.frNo}"> -->
        <table>
            <tr>
                <td>글번호</td>
                <td>
                    <input type="text" name="frNo" id="frNo" th:value="${facilityRental.frNo}">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer" th:value="${facilityRental.writer}">
                </td>
            </tr>
            <tr>
                <td>조회수</td>
                <td>
                    <input type="text" name="views" th:value="${facilityRental.views}">
                </td>
            </tr>
            <tr>
                <td>작성일자</td>
                <td>
                    <input type="text" name="updDate" th:value="${#dates.format(facilityRental.updDate, 'yyyy-MM-dd HH:mm:ss')}">
                </td>
            </tr>
            <tr>
                <td>대관일자</td>
                <td>
                    <input type="text" name="liveDate" th:value="${facilityRental.liveDate}">
                </td>
            </tr>
            <tr>
                <td>대관가격</td>
                <td>
                    <input type="text" name="title" th:value="${facilityRental.price}">
                </td>
            </tr>
            <tr>
                <td>지역</td>
                <td>
                    <input type="text" name="location" th:value="${facilityRental.location}">
                </td>
            </tr>
            <tr>
                <td>장소</td>
                <td>
                    <input type="text" name="address" th:value="${facilityRental.address}">
                </td>
            </tr>
            <tr>
                <textarea name="content" cols="40" rows="5" th:text="${facilityRental.content}"></textarea>
            </tr>

            <!-- 글 작성 에디터 -->
            <tr>
                <td>게시글 적성 에디터</td>
                <td class="data">
                    <textarea name="content" id="content" cols="30" rows="10" 
                              class="input-textarea"></textarea>
                </td>
            </tr>
            <tr>
                <td>티켓 가격</td>
                <td>
                    <input type="text" name="price">
                </td>
            </tr>
            <tr>
                <td>수용인원</td>
                <td>
                    <input type="text" name="maxTickets">
                </td>
            </tr>

            <!-- 이미지 추가에 대한 것 -->
            <tr>
                <td class="label">썸네일</td>
                <td class="data">
                    <input type="file" name="file" id="file" multiple>
                </td>
            </tr>
            <tr>
                <td class="label">썸네일</td>
                <td class="data">
                    <!-- 썸네일 업로드 -->
                    <div class="dropzone">
                        <input type="file" id="thumbnail" accept="image/*">
                        <a href="javascript:;" class="btn btn-sm btn-thumb-remove hide">삭제</a>
                        <div class="drop-img flex col main-center sub-center">
                            <div class="upload-box">
                                <h3 class="mb-20">이미지를 드래그 하세요.</h3>
                                <label for="thumbnail" class="btn">업로드</label>
                            </div>
                            <div class="img-box hide"></div>
                        </div>
                    </div>
                </td>
            </tr>
            
        </table>
        
        
    </form>
    <br>
    <br>
    <br>

    <th:block th:if="${#authorization.expression('isAuthenticated()')&& facilityRental.buyUsername==null}">
        <form action="/facilityRental/reservation" method="POST" id="reservation">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="frNo" id="frNo" th:value="${facilityRental.frNo}">
            <input type="hidden" name="username" id="username" th:value="${#authentication.principal.users.username}">
            <input type="hidden" name="phone" id="phone" th:value="${#authentication.principal.users.phone}">
            <button type="button" onclick="actionRental()">대관하기</button>
        </form>
    </th:block>
    <div>
        <button type="button" onclick="moveList()">목록</button>
        <button type="button" onclick="actionUpdate()">수정</button>
        <button type="button" onclick="actionDelete()">삭제</button>
    </div>

    <!-- <div style="background-color: darkgrey; width: 500px; height: 800px;">
        <h2>이 부분에 클럽에 대한 내용 부분이 나옵니다.</h2>
    </div> -->

    <script>
        const frNo = $('#frNo').val()
        const form = document.getElementById('form')
        
        // 목록으로 이동
        function moveList() {
            location.href = "/facilityRental/list"      // form 태그의 action 속성을 변경
        }

        // 대관하기
        function actionRental() {
            const bt = $('#reservation')
            bt.submit()
        }

        // 수정으로 이동
        function actionUpdate() {
            
            location.href = "/facilityRental/update?frNo=" + frNo    // form 태그의 action 속성을 변경
        }

        // 삭제 요청
        function actionDelete() {
            let check = confirm('정말로 삭제하시겠습니까?')
            if(check){
                form.action = '/facilityRental/delete'      // form 태그의 action 속성을 변경
                form.submit()
            }
        }

    </script>
</body>
</html>