<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대관 게시글 읽기</title>
</head>
<body>
    <h1>대관 게시글 읽기</h1>

    <h2>대관 게시글 제목</h2>
    <img src="#" alt="">

    <table>
        <tr>
            <td>대관일자</td>
            <td>
                2023-10-30
            </td>
        </tr>
        <tr>
            <td>대관가격</td>
            <td>
                1,000,000
            </td>
        </tr>
        <tr>
            <td>지역</td>
            <td>
                서울
            </td>
        </tr>
        <tr>
            <td>장소</td>
            <td>
                홍대 몽향 클럽
            </td>
        </tr>
    </table>
    
    <div>
        <button type="button" onclick="moveList()">목록</button>
        <button type="button" onclick="actionRental()">대관하기</button>
    </div>


    <div style="background-color: darkgrey; width: 500px; height: 800px;">
        <h2>이 부분에 클럽에 대한 내용 부분이 나옵니다.</h2>
    </div>

    <script>

        
        // 목록으로 이동
        function moveList() {
            location.href = "#"
        }

        // 수정으로 이동
        function actionRental() {
            location.href = "#"
        }

    </script>
</body>
</html>