<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/UI/user/layout/main_layout}">

<head>
    <title>대관 게시글 읽기</title>
    <link rel="stylesheet" href="/css/read.css">
</head>

<body layout:fragment="content">
    <div class="totalContainer">
        <form action="/facilityRental/delete" method="POST" id="form">
            <!-- csrf -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="frNo" th:value="${facilityRental.frNo}">
            <div class="topContentContainer">
                <div class="imgContainer">
                    <img th:src="|/file/img/${facilityRental.thumbnail.fileNo}|" th:if="${facilityRental.thumbnail != null}">
                </div>
                <div class="contentContainer">
                    <div class="tableContainer">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <div class="titleBox">
                                        <div>
                                            <h1 th:text="${facilityRental.title}"></h1>
                                            <div>
                                                <p style="display: inline-block;">업로드 시각 : </p>
                                                <p style="display: inline-block;" th:text="${#dates.format(facilityRental.updDate,'yyyy년 MM월 dd일 HH시 mm분')}"></p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <div style="margin-top: 10px;">
                                                <p  style="display: inline-block;">조회수 : </p>
                                                <p th:text="${facilityRental.views}"  style="display: inline-block;"></p>
                                            </div>
                                            <!-- <div class="heartInner">
                                                <div class="heartText">
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>글번호</td>
                                <td>
                                    <span th:text="${facilityRental.frNo}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>작성자</td>
                                <td>
                                    <span th:text="${facilityRental.writer}"></span>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>조회수</td>
                                <td>
                                    <span th:text="${facilityRental.views}"></span>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>작성일자</td>
                                <td>
                                    <span th:text="${#dates.format(facilityRental.updDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                </td>
                            </tr> -->
                            <tr>
                                <td>대관일자</td>
                                <td>
                                    <span th:text="${facilityRental.liveDate}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>대관가격</td>
                                <td>
                                    <span th:text="${facilityRental.price}+원"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>지역</td>
                                <td>
                                    <span th:text="${facilityRental.location}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>장소</td>
                                <td>
                                    <span th:text="${facilityRental.address}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>예약여부</td>
                                <td>
                                    <th:block th:if="facilityRental.confirmed==0"><span>예약완료</span></th:block>
                                    <th:block th:if="facilityRental.confirmed==1"><span>신청가능</span></th:block>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        


        <div class="bottomContainer">
            <div class="bottomContainerForRental">
                <button type="button" onclick="moveList()">목록</button>
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${facilityRental.username eq #authentication.principal.users.username}">
                        <div>
                            <button type="button" id="blue-btn" onclick="actionUpdate()">수정</button>
                        </div>
                        <div>
                            <form action="/facilityRental/delete" method="POST" id="delForm">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <input type="hidden" name="frNo" th:value="${facilityRental.frNo}">
                                <button type="button" id="red-btn" onclick="actionDelete()">삭제</button>
                            </form>
                        </div>
                    </th:block>
                </th:block>
            </div>
            <div>
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${facilityRental.buyUsername==null && facilityRental.username != #authentication.principal.users.username}">
                        <form action="/facilityRental/reservation" method="POST" id="reservation">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" name="frNo" id="frNo" th:value="${facilityRental.frNo}">
                            <input type="hidden" name="username" id="username" th:value="${#authentication.principal.users.username}">
                            <input type="hidden" name="phone" id="phone" th:value="${#authentication.principal.users.phone}">

                            <button type="button" id="red-btn" onclick="actionRental()">대관하기</button>
                        </form>
                    </th:block>
                </th:block>
            </div>
        </div>

        <div class="textContainer">
            <p th:utext="${facilityRental.content}"></p>
        </div>



        
        <!-- 댓글 입력 -->
        <h2 style="margin: 20px;" id="totalCount"></h2>
        <th:block sec:authorize="isAuthenticated()">
            <input type="hidden" name="username" id="username" th:value="${#authentication.principal.users.username}">
            <input type="hidden" name="profileNo" id="profileNo" th:value="${#authentication.principal.users.profileNo}">
        <div class="input-box">
            <div class="imgDiv">
                <!-- 여기 추가 -->
                <th:block  th:if="${#authentication.principal.users.profileNo != 0}">
                    <img th:src="|/file/img/${#authentication.principal.users.profileNo}|" alt="프로필사진">
                </th:block>
                <th:block th:if="${#authentication.principal.users.profileNo == 0}">
                <img src="/img/defaultProfile.png" alt="프로필사진">
                </th:block>
            </div>
            <div class="comment-input">
                <input type="hidden" name="writer" id="comment-writer" placeholder="작성자" th:value="${#authentication.principal.users.nickname}" readonly>
                <br>
                <textarea name="content" id="comment-content" 
                        cols="10" rows="1" placeholder="댓글 추가..."></textarea>
                <div class="btn-box">
                    <a href="javascript:;" id="btn-comment-insert" class="btn btn-sm">등록</a>
                </div>
                <div class="btn-box-can">
                    <a href="javascript:;" id="btn-comment-del" class="btn btn-sm">취소</a>
                </div>
            </div>

        </div>
        <script>
            // 취소 버튼을 누르면 input태그 안의 글이 삭제됨
           document.getElementById("btn-comment-del").addEventListener("click", function() {
               document.getElementById("comment-content").value = ""; // 댓글 내용을 비움
           });
       </script>

    </th:block>

        <!-- 댓글 목록 -->
        <div id="comment-list">

        </div>
    </div>



<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

let boardNo = "[[${facilityRental.frNo}]]"
let username = $(`#username`).val() != null ? $(`#username`).val() : `GUEST`;
let profileNo = $(`#profileNo`).val() != null ? $(`#profileNo`).val() : 0;
if( boardNo != null ) {
getCommentList()
}



// Swal.fire({
//     title: '정말로 삭제하시겠습니까?',
//     text: "삭제하면 되돌릴 수 없습니다!",
//     icon: 'warning',
//     showCancelButton: true,
//     confirmButtonColor: '#3085d6',
//     cancelButtonColor: '#d33',
//     confirmButtonText: '예',
//     cancelButtonText: '아니오',
// }).then((result) => {
//     // result.isConfirmed : true  [예]
//     // result.isConfirmed : false  [아니오]
//     if (result.isConfirmed) {
//         deleteData()
        
//     }
// })





// 댓글 목록 조회
function getCommentList() {

const url = 'http://localhost:8080/facilityRental/commentList'

let data = {
    'parentNo' : boardNo
}

$.ajax({
    url : url,
    type : 'get',
    data : data,
    success : function(response) {
                    let totalCount = 0
                    let commentList = response
                    if(commentList.length==0){
                        
                        let msg = `
                        <div class="commentContainer">
                            <span>댓글이 없습니다.</span>
                        </div>
                        `
                        $('#comment-list').html(msg)
                        $(`#totalCount`).html(`<span>댓글 ${totalCount}개</span>`)
                        initCommentEvent()
                        return
                    }
                    totalCount =  commentList[0].totalCount
                    $(`#totalCount`).html(`<span>댓글 ${totalCount}개</span>`)


                    console.log(commentList)

                    let commentData = ''
                    for (let i = 0; i < commentList.length; i++) {
                        let comment = commentList[i]

                        let date = new Date(comment.regDate);
                        let regDate = date.toISOString().split("T")[0];
                        let regTime = date.toISOString().split("T")[1];
                        regTime = regTime.split(".")[0]


                        let commentBox 
                            =   `   
                                <div class="commentContainer">`
                                        if(comment.profileNo != 0){
                                        commentBox +=`<div class="imgDiv">
                                            <img src="/file/img/${comment.profileNo}" alt="프로필" style="width:50px; height:50px; border-radius:100%; box-shadow:0px 0px 10px gray;">
                                            </div>
                                            `
                                        }else{
                                            commentBox +=`<div class="imgDiv">
                                                <img src="/img/defaultProfile.png" alt="프로필" style="width:50px; height:50px; border-radius:100%; box-shadow:0px 0px 10px gray;">
                                                </div>
                                                `
                                        }
                                        commentBox +=
                                        `
                                    <div class="comment-box">
                                        <div class="data-box">
                                            <div class="top">
                                                <div class="itemSt">
                                                    
                                                    <h2 class="comment-writer">${comment.writer}</h2>
                                                    <span class="comment-date">${regDate} ${regTime}</span>
                                                </div>
                                                    `
                                                if(commentList[i].username==username){
                                                    commentBox +=`
                                                <div class="itemsNd">
                                                        <a href="javascript:;" class="btn btn-sm btn-comment-update" data="${comment.commentNo}">수정</a>
                                                        <a href="javascript:;" class="btn btn-sm btn-comment-delete" data="${comment.commentNo}">삭제</a>
                                                </div>
                                                    `
                                                }
                                                commentBox +=`
                                            </div>
                                            <div class="bottom">
                                                <p class="comment-content">${comment.content}</p>
                                            </div>
                                        </div>
                                        <div class="edit-box"></div>
                                    </div>
                                </div>
                                `
                            commentData += commentBox
                        }


                    $('#comment-list').html(commentData)
                    initCommentEvent()

    },
    error : function(error) {

    }
})
}

// 댓글 등록 버튼 - 클릭 이벤트
$('#btn-comment-insert').on('click', function() {
let writer = $('#comment-writer').val()
let content = $('#comment-content').val()

insertComment( writer, content )
})

$('#comment-content').on('keyup', function (event) {
            let writer = $('#comment-writer').val()
            let content = $('#comment-content').val()

            if (event.keyCode == 13)
                insertComment(writer, content)
        })

// 댓글 등록
function insertComment( writer, content ) {

const url = 'http://localhost:8080/facilityRental/commentInsert'

let data = {
    'parentNo'   : boardNo,
    'parentTable' : 'facility_rental',
    'writer'    : writer,
    'content'   : content,
    'username' : username,
    'profileNo' : profileNo
}

$.ajax({
    url : url,
    type : 'GET',
    data : data,
    success : function(response) {
        let result = response
        console.log(result)
        if( result == 'SUCCESS' ) {
            // alert('댓글 등록이 완료되었습니다.')
            Swal.fire(
                '완료!',
                '댓글 등록이 완료되었습니다.',
                'success'
            )
            // 댓글 목록 갱신
            getCommentList()

            // 작성한 댓글 입력내용 초기화
            $('#comment-content').val('')

        }
    },
    error           : function(request, status, error){
        // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        Swal.fire(
            '에러!',
            'code:' + request.status,
            'error'
        )
    }
})
}


// 댓글 [수정][삭제][답글] - 이벤트 등록
function initCommentEvent() {

// 댓글 [수정]
$('.btn-comment-update').on('click', function() {
    // 작성자, 내용 가져오기
    let btn = $(this)
    let commentNo = btn.attr('data')
    let commentBox = btn.parents('.comment-box')
    let commentWriter = commentBox.find('.comment-writer')
    let commentContent = commentBox.find('.comment-content')

    let writer = commentWriter.text()
    let content = commentContent.text()

    console.log( btn.parents() )                        // 부모요소
    console.log( btn.parents('.comment-box') )          // 특정 상위요소
    console.log( commentBox.children() )                // 자식요소
    console.log( commentBox.find('.comment-writer') )   // 특정 하위요소
    console.log( writer );
    console.log( content );

    // 수정 중인 다른 댓글 UI 초기화
    $('.data-box').show()
    $('.edit-box').empty()
    $('.reply-box').remove()

    // 댓글 보기 숨김
    commentBox.find('.data-box').hide()

    // 댓글 수정 UI 추가
    let editBox 
    = `<div class="top">
            <div class="item">
                <h2 class="comment-writer">${writer}</h2>
            </div>
            <div class="item">
                
            </div>
        </div>
        <div class="bottom">
            <textarea id="input-update-content" cols="40" rows="1">${content}</textarea>
            <div class="etc-box">
                <a href="javascript:;" class="btn btn-sm" id="btn-comment-update" data="${commentNo}">수정</a>
                <a href="javascript:;" class="btn btn-sm" id="btn-comment-cancel">취소</a>
            </div>
        </div>
        `
    commentBox.find('.edit-box').html(editBox)    

    // 댓글 [수정] 취소 버튼 클릭
    $('#btn-comment-cancel').on('click', function() {

        commentBox.find('.data-box').show()
        commentBox.find('.edit-box').empty()
        // $('.comment-box .data-box').show()
        // $('.comment-box .edit-box').empty()
    })

    // 댓글 [수정] 수정 버튼 클릭
    $('#btn-comment-update').on('click', function() {

        let url = 'http://localhost:8080/facilityRental/commentUpdate'
        let writer = $(`#comment-writer`).val()
        let data = {
            commentNo   : commentNo,
            writer: writer,
            content     : $('#input-update-content').val(),
        }

        $.ajax({
            url     : url,
            type    : 'GET',
            data    : data,
            success : function(response) {
                let result = response
                if( result == 'SUCCESS' ) {
                    // alert('댓글 수정이 완료되었습니다.')

                    Swal.fire(
                        '완료!',
                        '댓글 수정이 완료되었습니다.',
                        'success'
                    )

                    // 댓글 목록 갱신
                    getCommentList()
                }

            },
            error           : function(request, status, error){
                // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                Swal.fire(
                    '에러!',
                    'code:' + request.status,
                    'error'
                )
            }
        })


    })
    $('#input-update-content').on('keyup', function (event) {

if (event.keyCode == 13) {



    let url = 'http://localhost:8080/team/commentUpdate'
    let writer = $(`#comment-writer`).val()
    let data = {
        commentNo: commentNo,
        writer: writer,
        content: $('#input-update-content').val(),
    }

    $.ajax({
        url: url,
        type: 'GET',
        data: data,
        success: function (response) {
            let result = response
            if (result == 'SUCCESS') {

                Swal.fire(
                    '완료!',
                    '댓글 수정이 완료되었습니다.',
                    'success'
                )

                getCommentList()
            }

        },
        error: function (request, status, error) {
            Swal.fire(
                '에러!',
                'code:' + request.status,
                'error'
            )
        }
    })
}
})

    
})

// 댓글 [삭제]
$('.btn-comment-delete').on('click', function() {
    let commentNo = $(this).attr('data')

    // let check = confirm('정말로 삭제하시겠습니까?')
    // if( !check )
    //     return

    // sweetalert - confirm
    Swal.fire({
        title: '정말로 삭제하시겠습니까?',
        text: "삭제하면 되돌릴 수 없습니다!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '예',
        cancelButtonText: '아니오',
    }).then((result) => {
        // result.isConfirmed : true  [예]
        // result.isConfirmed : false  [아니오]
        if (result.isConfirmed) {
            deleteCommentData(commentNo)
        }
    })
})

// 댓글 삭제
function deleteCommentData(commentNo) {

    
    let url = 'http://localhost:8080/facilityRental/commentDelete'
    let data = {
        commentNo   : commentNo,
    }

    $.ajax({
        url     : url,
        type    : 'GET',
        data    : data,
        success : function(response) {
            let result = response
            if( result == 'SUCCESS' ) {
                // alert('댓글 삭제가 완료되었습니다.')
                Swal.fire(
                    '완료!',
                    '댓글 삭제가 완료되었습니다.',
                    'success'
                )
                // 댓글 목록 갱신
                getCommentList()
            }

        },
        error           : function(request, status, error){
            // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            Swal.fire(
                '에러!',
                'code:' + request.status,
                'error'
            )
        }
    })
}

}




        const frNo = "[[${facilityRental.frNo}]]"
        const form = document.getElementById('form')
        
        // 목록으로 이동
        function moveList() {
            location.href = "/facilityRental/list"      // form 태그의 action 속성을 변경
        }

        // 대관하기
        function actionRental() {
            const bt = $('#reservation')
            bt.submit()
        }

        // 수정으로 이동
        function actionUpdate() {
            
            location.href = "/facilityRental/update?frNo=" + frNo    // form 태그의 action 속성을 변경
        }

        // 삭제 요청
        function actionDelete() {
            let check = confirm('정말로 삭제하시겠습니까?')
            if(check){
                $(`#delForm`).submit()
            }
        }

    </script>
</body>
</html>