<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/UI/user/layout/main_layout}">

<head>
    <title>LiveDom</title>
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body layout:fragment="content">

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/90.jpeg" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">

            </div>
            <div class="carousel-item">
                <img src="img/90 (1).jpeg" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
            </div>
            <!-- <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section>
        <div>
            <img src="#" alt="">
            <h1>Live Dom</h1>
            <div>
                <h2>우리는 좋은 소리를 만들고</h2>
                <h2>좋은 소리는 우리는 만듭니다.</h2>
            </div>
        </div>
    </section>

    <section style="background-color: black; color: white;">
        <!-- 대충 스타일 줌 -->
        <h1>들리시나요?</h1>
        <div>
            <h2>좋은 소리가 전하는 새로운 경험, 아래 버튼을 눌러 직접 들어보세요</h2>
        </div>
        <img src="" alt="">
    </section>

    <section>
        <h1>좋은 소리와의 첫 만남</h1>
        <h2>좋은 소리가 전하는 새로운 경험, 아래 버튼을 눌러 직접 들어보세요.</h2>
        <h2>들어보지 않으면 경험할 수 없습니다.</h2>
        <div>
            <div>
                <h3>클럽대관서비스</h3>
                <img src="#" alt="">
            </div>
        </div>
        <div>
            <div>
                <h3>공연팀 모집</h3>
                <img src="#" alt="">
            </div>
        </div>
        <div>
            <div>
                <h3>티켓팅</h3>
                <img src="#" alt="">
            </div>
        </div>
    </section>

    <div>
        <h1>이 부분에 상세한 내용이 들어올 예정입니다.</h1>
    </div>

</body>

</html>