<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/join.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>

<body layout:fragment="content">
    <div class="joinBody">
        <div id="join-container">
            <div class="join-Box">
                <form action="/join" method="POST" id="joinForm" enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <section class="auth_main_box">
                        <table>
                            <tr>
                                <div class="form__group field">
                                    <!-- <input type="file" class="form__field profile-img" placeholder="프로필사진" name="file" id="file"> -->

                                    <!-- 썸네일 업로드 -->
                                    <div class="dropzone">
                                        <div class="before-img-box hide">
                                            <!-- <h1>이미지 기존 영역</h1> -->
                                        </div>
                                        <div class="img-box">
                                            <!-- <h1>이미지 변경 영역</h1> -->
                                        </div>
                                        <div class="add_thumbnail_box">
                                            <div class="add_thumbnail">
                                                <!-- 파일 업로드 버튼 -->
                                                <label for="thumbnail" class="btn-file file_upload_btn">프로필 사진 추가하기</label>
                                                <!-- 실질적 input태그 히든으로 숨김 -->
                                                <input type="file" id="thumbnail" class="select_btn" name="file" accept="image/*" style="display: none;">
                                                <!-- 파일 업로드가 될 때 파일 명이 나오는 부분 -->
                                                <input type="text" name="fileName" id="file-name" readonly>
                                                <a href="javascript:;" class="btn btn-sm btn-thumb-remove hide">
                                                    <i class="fi fi-br-cross"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="drop-img flex col main-center sub-center">
                                            <div class="upload-box">
                                                <!-- <h1>업로드 박스</h1> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <div class="form__group field plus_flex">
                                    <input type="text" class="form__field" placeholder="이름" name="name" id="name">
                                    <label for="name" class="form__label">이름</label>
                                    <select name="auth" id="group" class="dul_btn_size">
                                        <option value="ROLE_USER">일반 사용자</option>
                                        <option value="ROLE_CLUB">클럽</option>
                                        <option value="ROLE_BAND">밴드</option>
                                    </select>
                                </div>
                            </tr>
                            <tr>
                                <div class="form__group field plus_flex">
                                    <input type="text" class="form__field" placeholder="아이디" name="username" id="username">
                                    <label for="username" class="form__label">아이디</label>
                                    <button onclick="joinFrom_checkedLoginIdDup(this);" name="btnLoginIdDupCheck" type="button"
                                        class="btn btn-outline-dark dul_btn_size">아이디 중복 검사</button>
                                </div>
                                <input type="hidden" id="checkUserName" value="0">
                            </tr>
                            <tr>
                                <div class="form__group field">
                                    <input type="password" class="form__field" placeholder="비밀번호" name="password" id="password">
                                    <label for="password" class="form__label">비밀번호</label>
                                </div>
                            </tr>
                            <tr>
                                <div class="form__group field">
                                    <input type="password" class="form__field" placeholder="비밀번호 확인" name="userPwCheck"
                                    id="passwordCheck">
                                    <label for="passwordCheck" class="form__label">비밀번호 확인</label>
                                </div>
                            </tr>
                            <tr>
                                <div class="form__group field plus_flex">
                                    <input type="text" class="form__field" placeholder="닉네임" name="nickname" id="nickname">
                                    <label for="nickname" class="form__label">닉네임</label>
                                    <input type="hidden" id="checkUserNickname" value="0">
                                    <button class="btn btn-outline-dark dul_btn_size" onclick="joinFrom_checkedNicknameDup(this);"
                                        name="btnNicknameDupCheck" type="button">닉네임 중복 검사</button>
                                </div>
                            </tr>
                            <tr>
                                <div class="form__group field plus_flex">
                                    <input type="text" class="form__field" placeholder="연락처" name="phone" id="phone">
                                    <label for="phone" class="form__label">연락처</label>
                                    <input type="hidden" id="checkUserPhone" value="0">
                                    <button class="btn btn-outline-dark dul_btn_size" onclick="joinFrom_checkedPhoneDup(this);"
                                    name="btnPhoneDupCheck" type="button">연락처 중복 검사</button>
                                </div>
                            </tr>
                            <tr>
                                <div class="form__group field">
                                    <input type="text" class="form__field" placeholder="이메일" name="email" id="email">
                                    <label for="phone" class="form__label">이메일</label>
                                </div>
                            </tr>
                            <tr>
                                
                            </tr>
                        </table>
                    </section>
                    <div class="submit_button">
                        <input type="submit" value="회원가입">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        
        let form = $(`#joinForm`)

        let checkUserName = $('#checkUserName');
        let checkUserNameVal = checkUserName.val();

        let checkUserNickname = $('#checkUserNickname');
        let checkUserNicknameVal = checkUserNickname.val();

        let checkUserPhone = $('#checkUserPhone');
        let checkUserPhoneVal = checkUserPhone.val();



       

        $(`#joinForm`).on("submit", function(event) {
            checkUserNameVal = checkUserName.val();
            checkUserNicknameVal = checkUserNickname.val();
            checkUserPhoneVal = checkUserPhone.val();

            // 비밀번호 확인 체크 관련 변수
            let password = $('#password').val();
            let passwordCheck = $('#passwordCheck').val();


            if ($(`#username`).val().length == 0) {
                alert('로그인 아이디를 입력해주세요.');
                $(`#username`).focus();
                event.preventDefault(); 
            }

            if (checkUserNameVal == 0) {
                alert('로그인 아이디 중복검사를 실시해주세요.');
                $(`#btnLoginIdDupCheck`).focus();
                event.preventDefault();
            }

            if (password != passwordCheck) {
                alert('비밀번호가 일치하지 않습니다.')
                event.preventDefault();
                $(`#passowrd`).val(``)
                $(`#passwordCheck`).val(``)
            }

            if (checkUserNicknameVal == 0) {
                alert('닉네임 중복검사를 실시해주세요.');
                $(`#btnNicknameDupCheck`).focus();
                event.preventDefault();
            }

            if (checkUserPhoneVal == 0) {
                alert('연락처 중복검사를 실시해주세요.');
                $(`#btnPhoneDupCheck`).focus();
                event.preventDefault();
            }

            // 유효성 검사 부분
            // 1. 비밀번호에 대한 유효성 검사
            if (validatePassword() === false) {
                event.preventDefault();
            }
            // 2. 이메일에 대한 유효성 검사 실시
            if (validateEmail() === false) {
                alert('잘못된 이메일 형식입니다.')
                event.preventDefault();
            }
            // 3. 연락처에 대한 유효성 검사 실시
            if (validatePhone() === false) {
                alert('잘못된 연락처 형식입니다. ( - 제외)')
                event.preventDefault();
            }

        });



      // 로그인 아이디 중복 체크
      function joinFrom_checkedLoginIdDup() {
            let username = $(`#username`).val()

            let data = {
                'username': username
            }

            // alert(form.username.value);
            let url = 'http://localhost:8080/getLoginIdDup'
            $.ajax({
                url: url,
                type: 'GET',
                data: data,
                success: function (response) {
                    if (response == 'Y') {
                        alert('이용 가능한 아이디입니다.')
                        checkUserName.val('1');
                        $("#username").prop("readonly", true);
                    }
                    if (response == 'N') {
                        alert('아이디가 중복되었습니다.')

                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
                        "error:" + error);
                }

            })

        }


         // 닉네임 중복 검사
         function joinFrom_checkedNicknameDup(el) {
            const nickname = $(`#nickname`).val()

            let data = {
                'nickname': nickname
            }

            // alert(form.nickname.value);
            let url = 'http://localhost:8080/getNicknameDup'
            $.ajax({
                url: url,
                type: 'GET',
                data: data,
                success: function (response) {
                    if (response == 'Y') {
                        alert('이용 가능한 닉네임입니다.')
                        checkUserNickname.val('1');
                        $("#nickname").prop("readonly", true);
                    }
                    if (response == 'N') {
                        alert('닉네임이 중복되었습니다.')

                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
                        "error:" + error);
                }

            })

        }

        // 연락처 중복 검사
        function joinFrom_checkedPhoneDup(el) {
            let phone = $(`#phone`).val()

            let data = {
                'phone': phone
            }

            // alert(form.phone.value);
            let url = 'http://localhost:8080/getPhoneDup'
            $.ajax({
                url: url,
                type: 'GET',
                data: data,
                success: function (response) {
                    if (response == 'Y') {
                        alert('이용 가능한 연락처입니다.')
                        checkUserPhone.val('1');
                        $("#phone").prop("readonly", true);
                    }
                    if (response == 'N') {
                        alert('연락처가 중복되었습니다.')

                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
                        "error:" + error);
                }

            })

        }

        // 유효성 검사 함수
        // 1. 비밀번호에 대한 부분
        function validatePassword() {
            let password = $('#password').val();

            // 나머지 유효성 검사는 그대로 유지
            if (password.length < 8) {
                alert("비밀번호는 8자 이상이어야 합니다.");
                return false;
            }

            let complexityRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/;
            if (!complexityRegex.test(password)) {
                alert("비밀번호는 영문 대문자, 영문 소문자, 숫자, 특수문자를 포함해야 합니다.");
                return false;
            }

            return true;
        }

        // 2. 이메일 유효성 검사 부분
        function validateEmail() {
            let email = $('#email').val();

            let complexityRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            // 첫 번째 부분에는 영문자, 숫자, 밑줄("_"), 마침표(".") 및 퍼센트("%") 기호가 포함하게 하고,
            // 두 번째 부분에는 도메인 주소가 오도록 함

            if (!complexityRegex.test(email)) {
                return false;
            }

            return true;
        }

        // 3. 연락처 유효성 검사 부분
        function validatePhone() {
            let phone = $('#phone').val()

            let complexityRegex = /^(01[016789])(\d{3,4})(\d{4})$/

            if (!complexityRegex.test(phone)) {
                return false;
            }

            return true;
        }



        form.addEventListener("submit", function (event) {
            checkUserNameVal = checkUserName.val();
            checkUserNicknameVal = checkUserNickname.val();
            checkUserPhoneVal = checkUserPhone.val();

            // 비밀번호 확인 체크 관련 변수
            let password = $('#password').val();
            let passwordCheck = $('#passwordCheck').val();


            if (form.username.value.length == 0) {
                alert('로그인 아이디를 입력해주세요.');
                form.username.focus();
                event.preventDefault(); // 폼 제출을 중지합니다.
            }

            if (checkUserNameVal == 0) {
                alert('로그인 아이디 중복검사를 실시해주세요.');
                form.btnLoginIdDupCheck.focus();
                event.preventDefault();
            }

            if (password != passwordCheck) {
                alert('비밀번호가 일치하지 않습니다.')
                event.preventDefault();
            }

            if (checkUserNicknameVal == 0) {
                alert('닉네임 중복검사를 실시해주세요.');
                form.btnNicknameDupCheck.focus();
                event.preventDefault();
            }

            if (checkUserPhoneVal == 0) {
                alert('연락처 중복검사를 실시해주세요.');
                form.btnPhoneDupCheck.focus();
                event.preventDefault();
            }

            // 유효성 검사 부분
            // 1. 비밀번호에 대한 유효성 검사
            if (validatePassword() === false) {
                event.preventDefault();
            }
            // 2. 이메일에 대한 유효성 검사 실시
            if (validateEmail() === false) {
                event.preventDefault();
            }
            // 3. 연락처에 대한 유효성 검사 실시
            if (validatePhone() === false) {
                alert('이메일 유요성 검사를 통화하지 못했습니다.')
                event.preventDefault();
            }

        });
    </script>
    <script>
        let fileList = null

        // 화면이 가장 처음 열릴 때 바뀌게 될 이미지 박스를 숨김
        $(document).ready(function(e){
            $('.img-box').hide()            // 기본 이미지 숨김
            $('.btn-thumb-remove').hide()   // 삭제 버튼 숨김
            $('#file-name').hide()          // 파일명이 나오는 인풋 태그를 숨김
        })

        // 드랍존에 이미지를 올렸을 때
        $('.dropzone').on('dragover', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지

            $(this).addClass('over')
        })

        // 드랍존에 이미지를 벗어날 때
        $('.dropzone').on('dragleave', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지

            $(this).removeClass('over')
        })

        // 드랍존에 이미지를 놓았을 때
        $('.dropzone').on('drop', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지
            $(this).removeClass('over')
            
            console.log(e);

            fileList = e.originalEvent.dataTransfer.files

            for (let i = 0; i < fileList.length; i++) {
                const file = fileList[i];

                let reader = new FileReader()

                // 파일 로드 시
                reader.onload = function(event) {
                    let source =  event.target.result   // 파일 데이터
                    let img = `<img src="${source}" >`
                    $('.btn-thumb-remove').show()               // 삭제 버튼 보여주기
                    $('.dropzone .img-box').show().html(img)    // 이미지 보여주기
                    $('.before-img-box').hide()                 // 기본 이미지 숨김
                    $('.drop-img .upload-box').hide()           // 업로드 영역 숨김
                    $('.file_upload_btn').hide()                // 파일 업로드 버튼을 숨김
                    // 파일 데이터를 변수에 저장
                    let fileData = event.target.result;

                    // 파일 데이터를 직접 설정 (주의: 보안 정책에 따라 허용되지 않을 수 있음)
                    try {
                        $('#thumbnail').val(fileData);
                    } catch (error) {
                        console.error(error);
                        alert("파일 데이터를 설정할 수 없습니다. 브라우저 보안 정책을 확인하세요.");
                    }
                }
                reader.readAsDataURL(file)
            }

        })

        // 썸네일 삭제 - 클릭 이벤트
        $('.btn-thumb-remove').on('click', function() {
            $('#thumbnail').val(null)       // 등록 파일정보 제거
            $('.upload-box').show()         // 업로드 영역 보여주기
            $('.dropzone .img-box').empty().hide()    // 썸네일 숨김
            $('.before-img-box').show()     // 기본 이미지 보여주기
            $('.btn-thumb-remove').hide()   // 삭제 버튼 숨김
            $('.file_upload_btn').show()           // 파일 업로드 버튼을 보여줌
            $('.before-img-box').show()       // 기본 이미지 숨김
            $('#file-name').hide()                // 파일 업로드 버튼을 숨김
        })

        // 파일 변경 이벤트
        $('#thumbnail').on('change', function(e) {
            fileList = e.target.files       // 변경된 파일 목록

            for (let i = 0; i < fileList.length; i++) {
                const file = fileList[i];

                $('#file-name').val(file.name)          // 파일명 지정

                let reader = new FileReader()

                // 파일 로드 시
                reader.onload = function(event) {
                    let source =  event.target.result   // 파일 데이터
                    let img = `<img src="${source}">`
                    $('.btn-thumb-remove').show()
                    $('.img-box').show().html(img)
                    $('.file_upload_btn').hide()           // 파일 업로드 버튼을 숨김
                    $('.before-img-box').hide()            // 기본 이미지 숨김
                    $('#file-name').show()                // 파일 업로드 버튼을 숨김
                    
                }
                
                reader.readAsDataURL(file)
            }
        })
    </script>
</body>

</html>
