<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h1>로그인</h1>
    
    <form action="/loginPro" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div>
            <input type="text" name="username" placeholder="ID">
        </div>
        <div>
            <input type="password" name="password" placeholder="PW">
        </div>
        
        <!-- <div>
            <div>
                <h3>아이디 저장</h3>
                <input type="checkbox" name="remember-id" value="" checked>
            </div>
            <div>
                <h3>자동 로그인</h3>
                <input type="checkbox" name="xxx" value="yyy">
            </div>
        </div> -->

        <input type="submit" value="로그인">

    </form>

</body>
</html>