<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h1>로그인</h1>
    
    <form action="">
        <div>
            <h2>id</h2>
            <input type="text">
        </div>
        <div>
            <h2>pw</h2>
            <input type="password">
        </div>
        
        <div>
            <div>
                <h3>아이디 저장</h3>
                <input type="checkbox" name="xxx" value="yyy" checked>
            </div>
            <div>
                <h3>자동 로그인</h3>
                <input type="checkbox" name="xxx" value="yyy">
            </div>
        </div>

    </form>
    <button>로그인</button>
    <button>회원가입</button>

</body>
</html>