<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/UI/user/layout/main_layout}">

<head>
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>

<body layout:fragment="content" id="mypage-body">

    <div id="mypage-container">


        <!--  -->
        <div class="body_box">
            <!-- 프로필 사진 쏴주기 -->
            <th:block sec:authorize="isAuthenticated()">
                <th:block th:if="${#authentication.principal.users.profileNo != 0}">
                    <img th:src="|/file/img/${#authentication.principal.users.profileNo}|" alt="프로필사진" id="profile"
                        style="width:150px; height:150px; border-radius: 100%; box-shadow: 0px 0px 15px gray; object-fit: cover;">
                </th:block>
                <th:block th:if="${#authentication.principal.users.profileNo == 0}">
                    <img src="/img/defaultProfile.png" alt="프로필사진" id="profile"
                        style="width:150px; height:150px; border-radius: 100%; box-shadow: 0px 0px 15px gray; object-fit: cover;">
                </th:block>
            </th:block>


            <h1 th:text="${#authentication.principal.users.username}"></h1>
            <p th:text="${#authentication.principal.users.name}"></p>
            <!-- <p>마이페이지</p> -->

            <!-- <hr width="600px"> -->

            <section class="auth_main_box">

                <div class="wrap- wrap---1">
                    <div onclick="moveUser('/myPage/myInfo')">
                        <div class="container_ container--1 containerImg1">
                            <i class="fi fi-rr-settings"></i>
                            <span>내 정보 보기</span>
                        </div>
                    </div>
                </div>

                <!-- 유저일 때 -->
                <th:block sec:authorize="hasRole('ROLE_USER')">
                    <div class="wrap- wrap---2">
                        <div onclick="moveUser('/myPage/ticket_purchase_list')">
                            <div class="container_ container--2 containerImg2">
                                <i class="fi fi-rr-users-alt"></i>
                                <span>티켓 구매 내역</span>
                            </div>
                        </div>
                    </div>
                </th:block>


                <!-- 클럽일 때 -->
                <th:block sec:authorize="hasRole('ROLE_CLUB')">
                    <div class="wrap- wrap---2">
                        <div onclick="moveFr('/user/receivedList')">
                            <div class="container_ container--2 containerImg2">
                                <i class="fi fi-rr-users"></i>
                                <span>대관 요청 내역</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrap- wrap---3">
                        <div onclick="moveUser('/myPage/ticket_sales_list')">
                            <div class="container_ container--3 containerImg3">
                                <i class="fi fi-rr-list-check"></i>
                                <span>티켓 판매 현황</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrap- wrap---4">
                        <div onclick="moveUser('/myPage/ticket_purchase_list')">
                            <div class="container_ container--4 containerImg4">
                                <i class="fi fi-rr-users-alt"></i>
                                <span>티켓 구매 내역</span>
                            </div>
                        </div>
                    </div>
                </th:block>


                <!-- 권한이 밴드일 때 -->
                <th:block sec:authorize="hasRole('ROLE_BAND')">
                    <div class="wrap- wrap---2">
                        <div onclick="moveUser('/myPage/ticket_purchase_list')">
                            <div class="container_ container--2 containerImg2">
                                <div>
                                    <i class="fi fi-rr-users-alt"></i>
                                </div>
                                <div>
                                    <span>티켓 구매 내역</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap- wrap---3">
                        <div onclick="moveUser('/myPage/ticket_sales_list')">
                            <div class="container_ container--3 containerImg3">
                                <i class="fi fi-rr-list-check"></i>
                                <span>티켓 판매 내역</span>
                            </div>
                        </div>
                    </div>

                    <div class="wrap- wrap---4">
                        <div onclick="moveTeam('/user/listByLeader')">
                            <div class="container_ container--4 containerImg4">
                                <i class="fi fi-rr-user-add"></i>
                                <span>팀 모집 현황</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrap- wrap---5">
                        <div onclick="moveTeam('/user/listByMember')">
                            <div class="container_ container--5 containerImg5">
                                <i class="fi fi-rr-check"></i>
                                <span>내가 신청한 참가 내역</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrap- wrap---6">
                        <div onclick="moveTeam('/user/listByConfirmedLive')">
                            <div class="container_ container--6 containerImg6">
                                <i class="fi fi-rr-handshake"></i>
                                <span>성사된 공연 목록</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrap- wrap---7">
                        <div onclick="moveFr('/user/reqList')">
                            <div class="container_ container--7 containerImg7">
                                <i class="fi fi-rr-users"></i>
                                <span>예약 신청한 대관 내역</span>
                            </div>
                        </div>
                    </div>
                    
                </th:block>
                
                
            </section>
            <br>
            <br>
            <br>
            
        </div>
    </div>
    <!--  -->
    <script>

        let moveUser = function (url) {
            window.location.href = url;
        }

        let moveTeam = function (url) {
            window.location.href = "/team" + url;
        }

        let moveFr = function (url) {
            window.location.href = "/facilityRental" + url;
        }
    </script>
</body>
</html>