<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <title>마이페이지</title>
</head>
<body layout:fragment="content">
    <h2>ID</h2>
    <h1 th:text="${#authentication.principal.users.username}"></h1>

    
    <section>

        <img src="" alt="">

        <div class="mypage-btn" onclick="moveUser('/myPage/myInfo')">
            <span>내 정보</span>
        </div>

        <th:block sec:authorize="hasRole('ROLE_USER')">

        <div class="mypage-btn" onclick="moveUser('/myPage/ticket_purchase_list')">
            <span>티켓 구매 내역</span>
        </div>
        
    </th:block>
    


    <th:block sec:authorize="hasRole('ROLE_CLUB')">
        <div class="mypage-btn" onclick="moveFr('/user/receivedList')">
            <span>받은 대관 신청 내역 </span>
        </div>
        <div class="mypage-btn" onclick="moveUser('/myPage/ticket_sales_list')">
            <span>티켓 판매 현황</span>
        </div>
        <div class="mypage-btn" onclick="moveUser('/myPage/ticket_purchase_list')">
            <span>티켓 구매 내역</span>
        </div>
    </th:block>
    


    <th:block sec:authorize="hasRole('ROLE_BAND')">

            <div class="mypage-btn" onclick="moveUser('/myPage/ticket_purchase_list')">
                <span>티켓 구매 내역</span>
            </div>
            <div class="mypage-btn" onclick="moveUser('/myPage/ticket_sales_list')">
                <span>티켓 판매 내역</span>
            </div>

            <div class="mypage-btn" onclick="moveTeam('/user/listByLeader')">
                <span>팀 모집 현황</span>
            </div>

            <div class="mypage-btn" onclick="moveTeam('/user/listByMember')">
                <span>팀 참가 신청 목록</span>
            </div>

            <div class="mypage-btn" onclick="moveTeam('/user/listByConfirmedLive')">
                <span>성사된 공연 목록</span>
            </div>

            <div class="mypage-btn" onclick="moveFr('/user/reqList')">
                <span>예약 신청한 대관 내역</span>
            </div>
    
        </th:block>
    </section>

    <script>

        let moveUser = function(url){
            location.href = `${url}`
        }

        let moveTeam = function(url){
            location.href = `/team${url}`
        }

        let moveFr = function(url){
            location.href = `/facilityRental${url}`
        }

    </script>
</body>
</html>