<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/UI/user/layout/noActiveFooter_layout}">

<head>
    <title>대관 요청 내역</title>
    <link rel="stylesheet" href="/css/teamList.css">
</head>

<body layout:fragment="content">
    <div id="topContent">
        <h1>대관 요청 내역</h1>
        <p>어떤 밴드가 공연을 빛내줄까요? 공연팀을 결정해주세요!</p>
        <hr>
    </div>
    <!-- 
    <a href="/a/insert">글쓰기</a>
    -->
    <div id="teamListContainer">
        <div class="tableContainer">
            <table>
                <tr>
                    <th width="80">번호</th>
                    <th width="250">대관글 제목</th>
                    <th width="100">이름</th>
                    <th width="150">연락처</th>
                    <th width="150">대관일자</th>
                    <th width="100">입금여부</th>
                    <th width="100">승인여부</th>
                    <th width="120">신청일자</th>
                    <th width="120">입금확정</th>
                    <th width="80">승인</th>
                    <th width="80">거부</th>
                </tr>

                <th:block th:if="${rrList}!=null" th:each="rr : ${rrList}">

                    <tr>
                        <td th:text="${rr.brNo}"></td>
                        <td th:text="${rr.frTitle}"></td>
                        <td th:text="${rr.name}"></td>
                        <td th:text="${rr.phone}"></td>
                        <td th:text="${rr.frDate}"></td>
                        <th:block th:if="${rr.depositStatus==0}">
                            <td>미입금</td>
                        </th:block>
                        <th:block th:if="${rr.depositStatus==1}">
                            <td>입금확인</td>
                        </th:block>
                        <th:block th:if="${rr.approvalStatus==0}">
                            <td>미확인</td>
                        </th:block>
                        <th:block th:if="${rr.approvalStatus==1}">
                            <td>승인</td>
                        </th:block>
                        <th:block th:if="${rr.approvalStatus==2}">
                            <td>거절</td>
                        </th:block>
                        <td th:text="${#dates.format(rr.updDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <th:block th:if="${rr.depositStatus==0&&rr.approvalStatus==1}">
                                <form action="/facilityRental/reqConfirm" method="POST">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" name="brNo" th:value="${rr.brNo}">
                                    <input type="submit" value="입금확정">
                                </form>
                            </th:block>
                        </td>

                        <td>
                            <th:block th:if="${rr.depositStatus==0&&rr.approvalStatus==0}">
                                <form action="/facilityRental/reqAccept" method="POST">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" name="brNo" th:value="${rr.brNo}">
                                    <input type="submit" value="승인">
                                </form>
                            </th:block>
                        </td>

                        <td>
                            <th:block th:if="${rr.depositStatus==0&&rr.approvalStatus==0}">
                                <form action="/facilityRental/reqDenied" method="POST">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" name="brNo" th:value="${rr.brNo}">

                                    <input type="submit" value="거절">
                                </form>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
                
                <th:block th:if="${rrList.isEmpty()}">
                    <td colspan="11">조회된 데이터가 없습니다!</td>
                </th:block>
            </table>
        </div>
    </div>
</body>
</html>