<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/UI/user/layout/noActiveFooter_layout}">

<head>
  <title>팀 참가 신청 목록</title>
  <link rel="stylesheet" href="/css/teamList.css">
</head>

<body layout:fragment="content">

  <div id="topContent">
    <h1>팀 모집 현황</h1>
    <p>어떤 팀과 공연을 진행할까요? 함께할 팀과 함께 멋진 공연을 만들어주세요!</p>
    <hr>
  </div>

  <div id="teamListContainer">
    <div class="tableContainer">
      <table style="margin-bottom: 100px;">
        <thead>
          <tr>
            <th width="120">모집글 번호</th>
            <th width="280">제목</th>
            <th width="120">연락처</th>
            <th width="100">신청일자</th>
            <th width="110">작성자 아이디</th>
            <th width="100">승인여부</th>
            <th width="100">입금여부</th>
            <th width="100">입금확인</th>
            <th width="80">승인</th>
            <th width="80">거절</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:if="${resTeamAppList != null}">
          <th:block th:each="resTeam : ${resTeamAppList}">
            <script>
              let readApp = function(appNo){
                location.href = `/team/user/readApp?appNo=${appNo}`
              }
            </script>
            <tr th:onclick="'readApp('+${resTeam.appNo}+')'">

              <td th:text="${resTeam.teamNo}"></td>
              <td th:text="${resTeam.title}"></td>
              <td th:text="${resTeam.phone}"></td>
              <td th:text="${#dates.format(resTeam.updDate,'yyyy-MM-dd HH:mm:ss')}"></td>
              <td th:text="${resTeam.username}"></td>
              <th:block th:if="${resTeam.approvalStatus==0}">
                <td>미확인</td>
            </th:block>
            <th:block th:if="${resTeam.approvalStatus==1}">
              <td>승인</td>
            </th:block>
            <th:block th:if="${resTeam.approvalStatus==2}">
              <td>거절</td>
            </th:block>
            <th:block th:if="${resTeam.depositStatus==1}">
              <td>입금확정</td>
            </th:block>
            <th:block th:if="${resTeam.depositStatus==0}">
              <td>미입금</td>
            </th:block>
            
            
            <td><form action="/team/app/confirmed" method="POST">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              <input type="hidden" name="appNo" th:value="${resTeam.appNo}">
              <input type="hidden" name="teamNo" th:value="${resTeam.teamNo}">
              <input type="submit" th:if="${resTeam.approvalStatus==1&& resTeam.depositStatus==0}" value="입금확인"></input>
            </form></td>
            
            <td><form action="/team/app/accept" method="POST">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              <input type="hidden" th:name="appNo" th:value="${resTeam.appNo}">
              <input type="submit" th:if="${resTeam.approvalStatus==0}" value="참가승인"></input>
            </form></td>
            
            <td>
              <form action="/team/app/denied" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="appNo" th:value="resTeam.appNo">
                <input type="submit" th:if="${resTeam.approvalStatus==0}" value="참가거절"></input>
              </form></td>
              
            </tr>
            
            
            
          </th:block>
        </th:block>

        <th:block th:if="${resTeamAppList.isEmpty()}">
          <tr>
            <td colspan="10">조회된 내역이 없습니다.</td>
          </tr>
        </th:block>
        </table>
      </div>
  </div>
  </body>

</body>
</html>