<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.midproject.mapper.FacilityRentalMapper">

    <!-- 게시글 목록 -->
    <select id="list" resultType="FacilityRental">
        SELECT *
        FROM facility_rental
        ORDER BY upd_date DESC
    </select>

<parameterMap type="Team" id="teamMap">
    <parameter property="pageNo" jdbcType="INTEGER" javaType="java.lang.Integer" mode="IN"/>
    <parameter property="rows" jdbcType="INTEGER" javaType="java.lang.Integer" mode="IN"/>
</parameterMap>


    <select id="pageFrList" resultType="FacilityRental" parameterMap="teamMap">
  
  SELECT *
  FROM facility_rental
   WHERE
        <choose>
            <when test="searchType == 0">(title LIKE "%${keyword}%" OR content LIKE "%${keyword}%" OR writer LIKE "%${keyword}%") </when>
            <when test="searchType == 1">title LIKE "%${keyword}%"</when>
            <when test="searchType == 2">content LIKE "%${keyword}%"</when>
            <when test="searchType == 3">(title LIKE "%${keyword}%" OR content LIKE "%${keyword}%")</when>
            <when test="searchType == 4">writer LIKE "%${keyword}%"</when>
        </choose>
    ORDER BY 
        <choose>
            <when test="order == 0">upd_date DESC</when>
            <when test="order == 1">title DESC</when>
            <when test="order == 2">views DESC</when>
        </choose>
    LIMIT #{pageNo}, #{rows};
  </select>

    <!-- 게시글 조회 -->
    <select id="select" resultType="FacilityRental">
        SELECT *
        FROM facility_rental
        WHERE fr_no = #{frNo}
    </select>

    <update id="viewsUp">
        UPDATE facility_rental SET views = (views+1)
        WHERE fr_no = #{frNo}
    </update>

    <!-- 게시글 등록 -->
    <insert id="insert">
        INSERT INTO facility_rental(title, writer, username, content, price, location, address, live_date, phone, account,views,upd_date,confirmed)
        VALUES (#{title}, #{writer}, #{username}, #{content}, #{price}, #{location}, #{address}, #{liveDate}, #{phone}, #{account},0,now(),0)
    </insert>

    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE facility_rental
           SET title = #{title}
              ,content = #{content}
              ,price = #{price}
              ,location = #{location}
              ,address = #{address}
              ,live_date = #{liveDate}
              ,account = #{account}
        WHERE fr_no = #{frNo}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="delete">
        DELETE FROM facility_rental
        WHERE fr_no = #{frNo}
    </delete>

    <!-- 게시글 번호 최대값 -->
    <select id="maxPk" resultType="int">
        SELECT MAX(fr_no)
        FROM facility_rental
    </select>

</mapper>