<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.midproject.mapper.LiveBoardMapper">

     <!-- 게시글 목록 -->
    <select id="list" resultType="LiveBoard">
        SELECT *
        FROM live_board
        ORDER BY upd_date DESC, board_no DESC
    </select>

    <!-- 게시글 등록 -->
    <insert id="insert">
        INSERT INTO live_board( title, writer, username, content, crew, price, live_date, 
                                live_time, location, address, max_tickets, upd_date, sold_out )
        VALUES ( #{title}, #{writer}, #{username}, 
                    #{content},  #{crew}, #{price}, #{liveDate}, 
                     #{liveTime}, #{location}, #{address}, 
                     #{maxTickets}, now(), 0 )
    </insert>

    <!-- 게시글 조회 -->
    <select id="select" resultType="LiveBoard">
        SELECT *
        FROM live_board
        WHERE board_no = #{boardNo}
    </select>
    
    <!-- 게시글 수정 -->
	<update id="update">
        UPDATE live_board
        SET 
           title =  #{title},
           writer = #{writer},
           username = #{username},
           content = #{content},
           crew = #{crew},
           price = #{price},
           live_date = #{liveDate},
           live_time = #{liveTime},
           location = #{location},
           max_tickets = #{maxTickets},
           upd_date = now()
        WHERE board_no = #{boardNo}
    </update>
    <!-- 게시글 매진으로 변경 -->
    <update id="soldOut">
        UPDATE live_board
        SET 
           sold_out = 1
        WHERE board_no = #{boardNo}
    </update>
</mapper>