<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.midproject.mapper.TeamAppMapper">


  <select id="listByLeader" resultType="TeamApp">

    SELECT a.* FROM `team_applications` AS a JOIN `team_recruitments` AS t ON(a.team_no = t.team_no) WHERE t.username = #{username} ORDER BY upd_date DESC

  </select>

  <select id="listByMember" resultType="TeamApp">
    
    SELECT a.*,t.title AS teamTitle FROM `team_applications` AS a JOIN `team_recruitments` AS t ON (a.team_no = t.team_no) WHERE a.username = #{username} ORDER BY upd_date DESC

  </select>

  <delete id="delete">
  
  DELETE FROM `team_applications` WHERE app_no = #{appNo}

  </delete>

  <select id="read" resultType="TeamApp">
  
    SELECT * FROM `team_applications` WHERE app_no = #{appNo}

  </select>

  <insert id="insert">
    INSERT INTO `team_applications` 
    (team_no,
    title,
    phone,
    username,
    band_name,
    content,
    upd_date,
    approval_status,
    deposit_status) VALUES (#{teamNo},#{title},#{phone},#{username},#{bandName},#{content},now(),0,0)

  </insert>

  <update id="accept">

  UPDATE `team_applications` SET approval_status = 1 WHERE app_no = #{appNo}

  </update>

  <update id="denied">
  
  UPDATE `team_applications` SET approval_status = 2 WHERE app_no = #{appNo}
  
  
  </update>

  <update id="confirmed">
  
  UPDATE `team_applications` SET deposit_status = 1 WHERE app_no = #{appNo}
  
  </update>
  
  <update id="deniedAll">

  UPDATE `team_applications` SET approval_status = 2 WHERE deposit_status
   <![CDATA[ <> ]]>1 AND team_no = #{teamNo}
  
  
  </update>

  <select id="listByTeamNo" resultType="TeamApp">
    SELECT *
    FROM `team_applications`
    WHERE team_no = #{teamNo}
    AND deposit_status = 1
    ORDER BY upd_date DESC
  </select>

  <insert id="insertLive">
  
    INSERT INTO `confirmed_live` (team_no,crew,upd_date) VALUES (#{teamNo},#{members},now())

  </insert>


</mapper>