<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.midproject.mapper.UserMapper">


    <!-- 회원 등록 -->
    <insert id="insert">
        INSERT INTO user( user_id, user_pw, name, email )
        VALUES ( #{userId}, #{userPw}, #{name} ,#{email} )
    </insert>

    <!-- 회원 조회 -->
    <select id="select" resultType="Users">
        SELECT *
        FROM user
        WHERE user_no = #{userNo}
    </select>

    <!-- 회원 조회 - id -->
    <select id="selectById" resultType="Users">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>


    <!-- 회원 조회 - id -->
    <select id="login" resultMap="userMap">
        SELECT * 
        FROM `user` 
        WHERE username = #{username}
    </select>


    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth( user_id, auth ) 
        VALUES ( #{userId}, #{auth} )
    </insert>

	<update id="update">
        UPDATE user
        SET 
            user_pw = #{userPw}
            ,name = #{name}
            ,email = #{email}
        WHERE user_id = #{userId}
    </update>

</mapper>