<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <title>티켓 구매 완료</title>
    <link rel="stylesheet" href="/css/complete.css">
</head>
<style></style>
<body layout:fragment="content">
    <div class="deniedContainer">
        <div style="margin: 20% 0; text-align: center;">
            <p>티켓 구매가 완료되었습니다!</p>
            <a href="/" class="bnt btn-outline-primary"><button class="custom-button custom-button-primary">메인화면</button></a>
        </div>
    </div>
</body>
</html>