<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <title>공연 게시글 작성</title>
    <style>
            /* 폼 제출 버튼 */
    .submit_button {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .submit_button > input {
        width: 350px;
        height: 50px;
        border-radius: 10px;
        background-color: #222222;
        border: none;
        color: white;
    }
    .submit_button > input:hover {
        width: 350px;
        height: 50px;
        border-radius: 10px;
        background-color: #9b9b9b;
        border: none;
        color: white;
    }

    .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    }

    .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    }

    .form__field::placeholder {
    color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    }

    .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
    }

    .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    }

    /* reset input */
    .form__field:required, .form__field:invalid {
    box-shadow: none;
    }

    /* demo */
    body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;;
    }

    #group {
    padding: 0px 10px;
    height: 48px;
    width: 150px;
    border-radius: 5px;
    font-size: 12px;
    }
    </style>
</head>
<body layout:fragment="content">
    <h1>공연 게시글 작성</h1>
    <form action="/liveBoard/insert" method="POST" id="form" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="_csrf"/>
        <table class="board">
            <tr>
                <td>
                    <input type="hidden" name="username" th:value="${#authentication.principal.users.username}">
                </td>
            </tr>

            
            <tr>
                <td>
                    <input type="hidden"  name="writer" th:value="${#authentication.principal.users.nickname}">
                </td>
            </tr>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="제목" name="title" id="title">
                <label for="title" class="form__label">제목</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="공연진" name="crew" id="crew">
                <label for="title" class="form__label">공연진</label>
            </div>
            
            
            <!-- 글 작성 에디터 -->
            <tr>
                <td class="data">
                    <textarea name="content" id="content" cols="30" rows="10" 
                    class="input-textarea"></textarea>
                </td>
            </tr>


            <div class="form__group field">
                <input type="date" class="form__field" placeholder="공연일자" name="liveDate" id="liveDate">
                <label for="liveDate" class="form__label">공연일자</label>
            </div>

            <div class="form__group field">
                <input type="time" class="form__field" placeholder="공연 시작 시각" name="liveStTime" id="liveStTime">
                <label for="liveStTime" class="form__label">공연 시작 시각</label>
            </div>

            <div class="form__group field">
                <input type="time" class="form__field" placeholder="공연 종료 시각" name="liveEndTime" id="liveEndTime">
                <label for="liveEndTime" class="form__label">공연 종료 시각</label>
            </div>

            <tr>
                <td>지역</td>
                <td>
                    <select name="location" id="location">
                        <option value="경기">경기</option>
                        <option value="서울">서울</option>
                        <option value="부산">부산</option>
                        <option value="경남">경남</option>
                        <option value="인천">인천</option>
                        <option value="경북">경북</option>
                        <option value="대구">대구</option>
                        <option value="충남">충남</option>
                        <option value="전남">전남</option>
                        <option value="전북">전북</option>
                        <option value="충북">충북</option>
                        <option value="강원">강원</option>
                        <option value="대전">대전</option>
                        <option value="광주">광주</option>
                        <option value="울산">울산</option>
                        <option value="제주">제주</option>
                        <option value="세종">세종</option>
                      </select>
                </td>
            </tr>

            <div class="form__group field">
                <input type="text" class="form__field" placeholder="주소" name="address" id="address">
                <label for="address" class="form__label">주소</label>
            </div>

            <div class="form__group field">
                <input type="text" class="form__field" placeholder="티켓 가격" name="price" id="price">
                <label for="price" class="form__label">티켓 가격</label>
            </div>

            <div class="form__group field">
                <input type="text" class="form__field" placeholder="수용인원" name="maxTickets" id="maxTickets">
                <label for="maxTickets" class="form__label">수용인원</label>
            </div>
            <tr>
                <td class="label">썸네일</td>
                <td class="data">
                    <!-- 썸네일 업로드 -->
                    <div class="dropzone">
                        <input type="file" id="thumbnail" name="file" accept="image/*">
                        <a href="javascript:;" class="btn btn-sm btn-thumb-remove hide">삭제</a>
                        <div class="drop-img flex col main-center sub-center">
                            <div class="upload-box">
                                <h3 class="mb-20">이미지를 드래그 하세요.</h3>
                                <label for="thumbnail" class="btn">업로드</label>
                            </div>
                            <div class="img-box hide"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </form>
    
    <div>
        <button type="button" onclick="moveList()">목록</button>
        <button type="button" onclick="actionInsert()">등록</button>
    </div>
    
    
    <script>
  
        
        
        // 정규표현식 유효성 검사 함수
        
        function check(regExp, element, msg) {
            if( regExp.test(element.value)) {			
                return true
            }
            alert(msg)
            element.select()
            element.focus()
            return false
        }

        let form = document.getElementById('form')

        // 목록으로 이동
        function moveList() {
            location.href = "/liveBoard/list"
        }

        // 게시글 등록
        function actionInsert() {
            let price = form.price
            let maxTickets = form.maxTickets
            let msg = ''
            
          
            
            let priceCheck = /^\d{1,}$/
            msg = '티켓의 가격은 1글자 이상의 숫자로 입력해주세요'
            if( !check(priceCheck, price, msg) ) return false
            
            
            let maxTicketsCheck = /^\d{1,}$/
            msg = '발행할 티켓 수는 1글자 이상의 숫자로 입력해주세요'
            if( !check(maxTicketsCheck, maxTickets, msg) ) return false
            




           form.submit()
        }

        var toolbar = [
            // 글꼴 설정
            ['fontname', ['fontname']],
            // 글자 크기 설정
            ['fontsize', ['fontsize']],
            // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
            // 글자색
            ['color', ['forecolor','color']],
            // 표만들기
            ['table', ['table']],
            // 글머리 기호, 번호매기기, 문단정렬
            ['para', ['ul', 'ol', 'paragraph']],
            // 줄간격
            ['height', ['height']],
            // 그림첨부, 링크만들기, 동영상첨부
            ['insert',['picture','link','video']],
            // 코드보기, 확대해서보기, 도움말
            ['view', ['codeview','fullscreen', 'help']]
        ];

        var setting = {
            height : 300,
            minHeight : null,
            maxHeight : null,
            focus : true,
            lang : 'ko-KR',
            toolbar : toolbar,
            callbacks : { 

                onImageUpload : function(files, editor, welEditable) {
                    for (var i = files.length - 1; i >= 0; i--) {
                        uploadImage(files[i], this);
                    }
                }
            }
        };


        $('#content').summernote(setting)
        let _csrf_name = $('#_csrf').attr('name')
        let _csrf_value = $('#_csrf').val()  
        
        // 에디터 파일 업로드
        function uploadImage(file, element) {
            const fileUrl = 'http://localhost:8080/file'
            const url = 'http://localhost:8080/file'

            let formData = new FormData()
            formData.append(_csrf_name, _csrf_value )
            formData.append("file", file)

            $.ajax({
                url : url,
                type : "post",
                data : formData,
                contentType : false,
                processData : false,
                success : function(response) {
                    let fileNo = response
                    // let img = `<img src="${fileUrl}/img/${fileNo}">`
                    let imgUrl = `${fileUrl}/img/${fileNo}`
                    // 업로드된 이미지url 를 에디터에 추가
                    $(element).summernote('editor.insertImage', imgUrl)
                },
                error : function(error) {

                }
                
            })
        }
    </script>
    <script>

        let fileList = null

        // 드랍존에 이미지를 올렸을 때
        $('.dropzone').on('dragover', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지

            $(this).addClass('over')
        })

        // 드랍존에 이미지를 벗어날 때
        $('.dropzone').on('dragleave', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지

            $(this).removeClass('over')
        })

        // 드랍존에 이미지를 놓았을 때
        $('.dropzone').on('drop', function(e) {
            e.preventDefault() // 이벤트의 기본 액션 방지
            $(this).removeClass('over')
            
            console.log(e);

            fileList = e.originalEvent.dataTransfer.files

            for (let i = 0; i < fileList.length; i++) {
                const file = fileList[i];

                let reader = new FileReader()

                // 파일 로드 시
                reader.onload = function(event) {
                    let source =  event.target.result   // 파일 데이터
                    let img = `<img src="${source}" >`
                    $('.btn-thumb-remove').show()               // 삭제 버튼 보여주기
                    $('.drop-img .img-box').show().html(img)    // 이미지 보여주기
                    $('.drop-img .upload-box').hide()           // 업로드 영역 숨김
                    // 파일 데이터를 변수에 저장
                    let fileData = event.target.result;

                    // 파일 데이터를 직접 설정 (주의: 보안 정책에 따라 허용되지 않을 수 있음)
                    try {
                        $('#thumbnail').val(fileData);
                    } catch (error) {
                        console.error(error);
                        alert("파일 데이터를 설정할 수 없습니다. 브라우저 보안 정책을 확인하세요.");
                    }
                }
                reader.readAsDataURL(file)
            }

        })

        // 썸네일 삭제 - 클릭 이벤트
        $('.btn-thumb-remove').on('click', function() {
            $('#thumbnail').val(null)       // 등록 파일정보 제거
            $('.upload-box').show()         // 업로드 영역 보여주기
            $('.img-box').empty().hide()    // 썸네일 숨김
            $('.btn-thumb-remove').hide()   // 삭제 버튼 숨김
        })





        // 파일 변경 이벤트
        $('#thumbnail').on('change', function(e) {
            fileList = e.target.files       // 변경된 파일 목록

            for (let i = 0; i < fileList.length; i++) {
                const file = fileList[i];

                let reader = new FileReader() 

                // 파일 로드 시
                reader.onload = function(event) {
                    let source =  event.target.result   // 파일 데이터
                    let img = `<img src="${source}" >`
                    $('.btn-thumb-remove').show()
                    $('.drop-img .img-box').show().html(img)
                    $('.drop-img .upload-box').hide()
                }
                
                reader.readAsDataURL(file)
            }
        })


    </script>
</body>
</html>