<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <title>공연 게시글 목록</title>
    <link rel="stylesheet" href="/css/cardList.css">
</head>

<body layout:fragment="content" id="content">
    <!-- <div id="topContent">
        <h1>공연 게시글 목록</h1>
    </div> -->

    <!-- <table>
        <tr>
            <td>전체 게시글 수</td>
        </tr>
        <tr>
            <td id="totalCount"></td>
        </tr>
    </table> -->


    <!-- 이미지 슬라이드 -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="8000">
              <img src="/img/imgslide3.jpg" class="d-block w-100 img-slide" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/img/imgslide1.jpg" class="d-block w-100 img-slide" alt="...">
        </div>
        <div class="carousel-item">
              <img src="/img/imgslide2.jpg" class="d-block w-100 img-slide" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div id="topContent">
        <h1>공연 게시글 목록</h1>
        <p>공연 게시글 목록입니다.</p>
        <hr>
    </div>

    <div id="teamListContainer">
        <!-- 검색/필터 -->
        <!-- <div class="listTopText">
            <h1>티켓오픈</h1>
        </div> -->
        <div class="page-box">
            <div class="item">
                <!-- 검색 -->
                <div class="search_item">
                    <select name="search-type" id="search-type" class="input-search">
                        <option value="0">전체</option>
                        <option value="1">제목</option>
                        <option value="2">내용</option>
                        <option value="3">제목+내용</option>
                        <option value="4">작성자</option>
                    </select>
                    <input type="text" name="keyword" id="keyword" class="input-search">
                    <a href="javascript:;" class="btn" id="btn-search">
                        <img src="https://www.dacorkorea.com/images/icon-search.png" alt="search" style="width: 23px; padding-top: 5px;">
                    </a>
                </div>
            </div>
            <!-- 필터 -->
            <div class="item">
                <th:block sec:authorize="hasAnyRole('ROLE_BAND','ROLE_CLUB')">
                    <a href="/liveBoard/insert"><button id="filter-btn">작성하기</button></a>
                </th:block>
                <select name="rows" id="rows" class="input-search">
                    <option value="4">4개씩 보기</option>
                    <option value="8">8개씩 보기</option>
                    <option value="32">32개씩 보기</option>
                    <option value="64">64개씩 보기</option>
                </select>
                <select name="order" id="order" class="input-search">
                    <option value="0">최근 순</option>
                    <option value="1">오래된 순</option>
                    <option value="2">가격 순</option>
                </select>
            </div>
        </div>


        

        <!--기존 타임리프 리스트-->

        <!-- <div class="card" style="width: 18rem;" th:each="liveBoard : ${liveBoardList}">
            <a th:href="|/liveBoard/read?boardNo=${liveBoard.boardNo}|">
                <img th:src="|/file/img/${liveBoard.thumbnail.fileNo}|" style="width: 200px;" th:if="${liveBoard.thumbnail != null}">
            </a>
            <div class="card-body">
            <h5 class="card-title"><a th:href="|/liveBoard/read?boardNo=${liveBoard.boardNo}|" th:text="${liveBoard.title}"></a></h5>
            <p class="card-text" th:text="${liveBoard.crew}"></p>
            <p class="card-text" th:text="${liveBoard.address}"></p>
            <p class="card-text" th:text="${liveBoard.liveDate}"></p>
            <p class="card-text" style="background-color: red;" th:if="${liveBoard.soldOut == 1}">매진</p>                             
            </div>
        </div> -->

        <div class="container card_list">

            <!-- <div class="row" id="team-data"> -->
                <div class="row" id="team-data">
                <!--페이지네이션 리스트-->

            </div>
        </div>


        <div id="paginationContainer">
            <!-- 페이지네이션 -->
            <div class="pagination_count">
                <a href="javascript:;" class="page-arrow" id="first">
                    <img src="/img/right_S.png" width="15px" style="transform: rotate(180deg);">
                </a>
                <a href="javascript:;" class="page-arrow" id="prev">&lsaquo;</a>
            
                <!-- 페이지 번호 목록 -->
                <div class="page-list">
                    <a href="javascript:;" class="page-no">1</a>
                    <a href="javascript:;" class="page-no">2</a>
                    <a href="javascript:;" class="page-no">3</a>
                    <a href="javascript:;" class="page-no">4</a>
                    <a href="javascript:;" class="page-no">5</a>
                    <a href="javascript:;" class="page-no">6</a>
                    <a href="javascript:;" class="page-no">7</a>
                    <a href="javascript:;" class="page-no">8</a>
                    <a href="javascript:;" class="page-no">9</a>
                    <a href="javascript:;" class="page-no">10</a>
                </div>
            
                <a href="javascript:;" class="page-arrow" id="next">&rsaquo;</a>
                <a href="javascript:;" class="page-arrow" id="last">
                    <img src="/img/right_S.png" width="15px">
                </a>
            </div>

            <!-- <div>
                <button type="button" class="btn btn-secondary" onclick="moveinsert()">게시글 쓰기</button>
            </div> -->
        </div>
    </div>
    <div class="a">
        <div class="staticContainer">
            <div class="staticTextSection">
                <h1>오늘의 추천밴드</h1>
                <h2>유다빈 밴드</h2>
                <hr>
                <h3>
                    한 순간들도 빠짐없이 사랑했던 모든 순간과 진정한 안녕을 말할 때, 마지막으로 딱 한 번만 나를 다정하게 기억해 주기를
                </h3>
                <p>이런 식으로 추가하면 될 듯</p>
            </div>
            <div class="staticVideoSection">
                <!-- YouTube Video Embed Code -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wmMrFpemJNY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
    
    <script>

         // 페이지 관련 변수
         let page = 1            // 현재 페이지 번호
         let rows = 8           // 페이지당 게시글 수
         let pageCount = 10      // 노출 페이지 개수
         let totalCount = 0      // 전체 게시글 수
         // 검색 관련 변수
         let searchType = 0      // 검색 조건
         let keyword = ''        // 검색어
         // 순서 변수
         let order = 0           // 기본값 : 최근 순
 
         // 게시글 목록 요청
         getPageList()
         initPage()
         initRows()
 
         
         // 페이지 번호
         function initPage() {
 
             // 페이지 번호 정보
             let data = {
                 'pageNo'         : page,
                 'rows'           : rows,
                 'pageCount'      : pageCount,
                 'totalCount'     : totalCount,
                 'searchType'     : searchType,
                 'keyword'        : keyword,
             }
 
             const url = 'http://localhost:8080/liveBoard/pageInfoLiveBoard'
 
             $.ajax({
                 url     :   url,
                 type    :   'GET',
                 data    :   data,
                 success :   function(response) {
                     let pageInfo = response
                     console.log(response);
 
                     let start = pageInfo.startPage
                     let end = pageInfo.endPage
                     let first = pageInfo.firstPage
                     let last = pageInfo.lastPage
                     let prev = pageInfo.prev
                     let next = pageInfo.next
 
                     // 게시글 건 수
                     let totalCount = pageInfo.totalCount
                     $('#totalCount').text(totalCount)
 
                     let pagination = ''
                     for (let i = start; i <= end ; i++) {
                         let a = `<a href='javascript:;' class='page-no' data='${i}'>${i}</a>`
                         pagination += a
                     }                  
                     
                     // 페이지 출력
                     $('.page-list').html(pagination)
                     // 화살표 페이지 번호
                     $('#first').attr('data', first)
                     $('#last').attr('data', last)
                     $('#prev').attr('data', prev)
                     $('#next').attr('data', next)
 
                     $('.page-no').removeClass('on')
                     // 현재 페이지 지정
                     $('.page-no[data=' + page +']').addClass('on')
 
                     // 화살표 버튼 유효성 처리
                     $('.page-arrow').show()
                     if( page == 1 ) {
                         $('#prev').hide()
                     }
                     
                     if( page == last ) {
                         $('#next').hide()
                     }
 
 
                     // 페이지 번호 클릭 이벤트
                     $('.page-no, .page-arrow').on('click', function() {
 
                         // 이벤트 제거 - 이벤트 정의가 쌓이는 것을 방지
                         $('.page-no, .page-arrow').off()
                         
                         // 페이지 번호
                         let clickedPage = $(this).attr('data')
                         page = clickedPage
                         initPage()          // 페이지 번호 갱신
                         getPageList()       // 페이지 목록 갱신
                     })
 
 
 
                 },
                 error           : function(request, status, error){
                     console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error)
                     alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                 }
             })
 
         }        
 
         // 게시글 목록 - 페이징
         function getPageList() {
             const url = 'http://localhost:8080/liveBoard/liveBoardPageList'
 
             let data = {
                 'pageNo'      : page,
                 'rows'        : rows,
                 'searchType'  : searchType,
                 'keyword'     : keyword,
                 'order'       : order,
             }
 
             $.ajax({
                 url     :   url,
                 type    :   'GET',
                 data    :   data,
                 success : function(response) {
                     let teamList = response
                     
                     displayList(teamList)
                 },
                 error           : function(request, status, error){
                     console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error)
                     alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                 }
             })
         } 
 
         // 게시글 목록 출력
         function displayList(teamList) {
             console.log(teamList)
             // 게시글 목록 존재여부
             if( teamList.length == 0 ) {
                 let msg = '조회된 데이터가 없습니다.'
                 console.log(msg);
 
                 let tr = `
                 <div class="card-body">
                    <h5 class="card-text">${msg}</h5>
                 </div>
                             `
                 $('#team-data').html(tr)
                 return
             }
 
             // 게시글 목록 출력
             let teamData = ''
             for(let i = 0 ; i < teamList.length ; i++ ){
                 
                 // <div class="card col-3 card-list">
                let tr = `
                    <div class="card col-3">
                        <a href="/liveBoard/read?boardNo=${teamList[i].boardNo}">
                        `
                        if(teamList[i].thumbnail!=null){
                            tr+=`
                            <a href="/liveBoard/read?boardNo=${teamList[i].boardNo}">
                                <img src="/file/img/${teamList[i].thumbnail.fileNo}" id="card-img">
                            </a>
                            `
                        }
                        tr+=`
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="/liveBoard/read?boardNo=${teamList[i].boardNo}">${teamList[i].title}</a></h5>
                            <p class="card-text">${teamList[i].crew}</p>
                            `
                            if(teamList[i].soldOut == 0){
                                tr+= `<p class="card-text">판매 중</p>`
                            }
                            if(teamList[i].soldOut == 1){
                                tr+= `<p class="card-text" style="background-color: red; color: yellow; display: inline; border-radius: 3px; padding: 3px 5px;">매진</p>`
                            }
                            
                            tr+= `
                            <p class="card-text">${teamList[i].address}</p>
                            <p class="card-text card-text-date">${teamList[i].liveDate}</p>
                            `
                            tr+=`
                        </div>
                    </div>
            `
                 teamData += tr
             }
             $('#team-data').html(teamData)
         }
 
 
         // 검색 클릭 이벤트
         $('#btn-search').on('click', function() {
             initPage()
             search()
         })
 
         // 페이지당 게시글 수 - 변경 이벤트
         $('#rows').on('change', function() {
             rows = $(this).val()
             page = 1
             initPage()
             getPageList()
         })
 
         // 보여줄 게시글 수 갱신
         function initRows() {
             $('#rows').val(rows)
         }
 
 
         // 검색 - 키 입력 이벤트
         $('#keyword').on('keyup', function(event) {
             console.log( event.keyCode );
 
             // 엔터
             if( event.keyCode == 13 ) {
                initPage()
                 search()
             }
         })
 
 
         // 검색
         function search() {
             // 검색 조건 (serach-type)
             // 검색어    (keyword)
             searchType = $('#search-type').val()
             keyword = $('#keyword').val()
 
             let data = {
                 'searchType'  : searchType,
                 'keyword'     : keyword,
                 'rows'        : rows,
                 'pageNo'        : page,
                 'pageCount'   : pageCount,
                 'order'   :order,
             }
 
             const url = 'http://localhost:8080/liveBoard/liveBoardPageList'
 
             $.ajax({
                 url     :   url,
                 type    :   'GET',
                 data    :   data,
                 success :   function(response) {
                     let teamList = response
 
                     displayList(teamList)
 
                     page = 1
                     initPage()
 
                 },
                 error   : function(request, status, error){
                     console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                     alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                 }
             })
         }
 
 
         // 순서 필터 - 변경 이벤트
         $('#order').on('change', function() {
 
             order = $(this).val()
 
             let data = {
                 searchType  : searchType,
                 keyword     : keyword,
                 rows        : rows,
                 pageNo        : page,
                 pageCount   : pageCount,
                 order       : order,
             }
 
             const url = 'http://localhost:8080/liveBoard/liveBoardPageList'
 
             $.ajax({
                 url     :   url,
                 type    :   'GET',
                 data    :   data,
                 success :   function(response) {
                     let teamList = response
 
                     displayList(teamList)
 
                     page = 1
                     initPage()
 
                 },
                 error   : function(request, status, error){
                     alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                 }
             })
 
 
         })
        
        // 목록으로 이동
        function moveinsert() {
            location.href = "/liveBoard/insert"
        }

    </script>
</body>
</html>