<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공연 게시글 목록</title>
</head>
<body>
    <h1>공연 게시글 목록</h1>
    
    <div class="card" style="width: 18rem;" th:each="liveBoard : ${liveBoardList}">
        <a th:href="|/liveBoard/read?boardNo=${liveBoard.boardNo}|">
            <img src="..." class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title"><a th:href="|/liveBoard/read?boardNo=${liveBoard.boardNo}|" th:text="${liveBoard.title}"></a></h5>
          <p class="card-text" th:text="${liveBoard.crew}"></p>
          <p class="card-text" th:text="${liveBoard.address}"></p>
          <p class="card-text" th:text="${liveBoard.liveDate}"></p>

          <p class="card-text" style="background-color: red;" th:if="${liveBoard.soldOut == '1'}">매진</p>                             <!-- 매진은 매진일 경우에만 나오도록 -->
        </div>
    </div>
    
</body>
</html>