<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <title>공연 게시글 읽기</title>
</head>
<body layout:fragment="content">
  <h1>공연 게시글 읽기</h1>
    <form action="/liveBoard/delete" method="POST" id="form">
        <input type="hidden" name="boardNo" th:value="${liveBoard.boardNo}" id="boardNo">

        <h2 th:text="${liveBoard.title}"></h2>
        <img src="" alt="" style="width: 200px;">

        <table>
            <tr>
                <td>공연일자</td>
                <td>
                    <span th:text="${liveBoard.liveDate}"></span>
                </td>
            </tr>
            <tr>
                <td>공연시간</td>
                <td>
                    <span th:text="${liveBoard.liveTime}"></span>
                </td>
            </tr>
            <tr>
                <td>공연진</td>
                <td>
                    <span th:text="${liveBoard.crew}"></span>
                </td>
            </tr>
            <tr>
                <td>수용인원</td>
                <td>
                    <span th:text="${liveBoard.maxTickets}"></span>
                </td>
            </tr>
            <tr>
                <td>티켓가격</td>
                <td>
                    <span th:text="${liveBoard.price}"></span>
                </td>
            </tr>
            <tr>
                <td>지역</td>
                <td>
                    <span th:text="${liveBoard.location}"></span>
                </td>
            </tr>
            <tr>
                <td>잔여티켓</td>
                <td>
                    <span th:text="${liveBoard.ticketLeft}"></span>
                </td>
            </tr>
            <tr>
                <td>매진여부</td>
                <td>
                    정상판매 / 매진
                    <p th:if="${liveBoard.soldOut == 1}">매진</p> 
                    <p th:if="${liveBoard.soldOut == 0}">판매 중</p> 
                </td>
            </tr>
            <tr>
                <td>매수</td>
                <td>
                    <!-- 버튼 클릭 시 숫자가 증감함 -->
                    <div>
                        <h3 id="countNum">0</h3>
                        <div id="countBtn" onclick="increase()">+</div>
                        <div id="countBtn" onclick="decrease()">-</div>
                    </div>
                </td>
            </tr>

        </table>
    </form>
    
    <div>
        <button type="button" onclick="moveList()">목록</button>
        <button type="button" onclick="moveUpdate()">수정</button>
    </div>

    <div style="background-color: darkgrey; width: 500px; height: 800px;">
        <p th:text="${liveBoard.content}"></p>
    </div>

    <script>

        
        // 목록으로 이동
        function moveList() {
            location.href = "/liveBoard/list"
        }

        // 수정으로 이동
        function moveUpdate() {
            const boardNo = $('#boardNo').val()
            location.href = "/liveBoard/update?boardNo=" + boardNo;
        }


        // 매수 카운트 1 증가
        var count=0;
        function increase(){
            count=count+1;
            document.querySelector("#countNum").innerText=count;
        }

        // 매수 카운트 1 감소
        function decrease(){
            if ( document.querySelector("#countNum").innerText > 0 ) {
                count=count-1;
                document.querySelector("#countNum").innerText=count;
            }
        }

    </script>
</body>
</html>