<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/UI/user/layout/main_layout}">

<head>
    <title>공연 게시글 읽기</title>
    <link rel="stylesheet" href="/css/read.css">
</head>

<body layout:fragment="content">
    <div class="totalContainer">
        <form action="/liveBoard/delete" method="POST" id="form">
            <input type="hidden" name="boardNo" th:value="${liveBoard.boardNo}" id="boardNo">
            <div class="topContentContainer">
                <div class="imgContainer">
                    <img th:src="|/file/img/${liveBoard.thumbnail.fileNo}|" th:if="${liveBoard.thumbnail != null}">
                </div>
                <div class="contentContainer">
                    <div class="tableContainer">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <h2 th:text="${liveBoard.title}"></h2>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>공연일자</td>
                                <td>
                                    <span th:text="${liveBoard.liveDate}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>공연시간</td>
                                <td>
                                    <span th:text="${liveBoard.liveTime}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>공연진</td>
                                <td>
                                    <span th:text="${liveBoard.crew}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>수용인원</td>
                                <td>
                                    <span th:text="${liveBoard.maxTickets}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>티켓가격</td>
                                <td>
                                    <span th:text="${liveBoard.price}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>지역</td>
                                <td>
                                    <span th:text="${liveBoard.location}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <span th:text="${liveBoard.address}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>잔여티켓</td>
                                <td>
                                    <span th:text="${liveBoard.ticketLeft}" id="ticketLeft"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>매진여부</td>
                                <td>
                                    <span th:if="${liveBoard.soldOut == 0}">판매 중</span>
                                    <span th:if="${liveBoard.soldOut == 1}">매진</span>
                                </td>
                            </tr>
                            <th:block sec:authorize="isAuthenticated()">
                            <tr>
                                <td>매수</td>
                                <td>
                                    <!-- 버튼 클릭 시 숫자가 증감함 -->
                                    <div id="countFor">
                                        <div>
                                            <h3 id="countNum">0</h3>
                                        </div>
                                        <div id="aaaa">
                                            <button type="button" class="countBtn" onclick="increase()">+</button>
                                            <button type="button" class="countBtn" onclick="decrease()">-</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                            
                        </table>
                    </div>
                </div>
            </div>
        </form>
        
        <form action="/liveBoard/delete" method="POST" id="delete">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="boardNo" th:value="${liveBoard.boardNo}">
        </form>
        <div class="bottomContainer">
            <div>
                <button type="button" onclick="moveList()">목록</button>
                <th:block sec:authorize="isAuthenticated()">
                    <button type="button" onclick="moveUpdate()" th:if="${#authentication.principal.users.username == liveBoard.username}">수정</button>
                    <button type="button" onclick="deleteBoard()" th:if="${#authentication.principal.users.username == liveBoard.username && liveBoard.maxTickets == liveBoard.ticketLeft}">삭제</button>
                </th:block>
            </div>
            <div>
                <!-- 티켓 구매 버튼 -->
                <th:block sec:authorize="isAuthenticated()">
                    <div th:if= "${#authentication.principal.users.username != liveBoard.username}">

                        <form action="/liveBoard/purchase" method="POST" id="purchase">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="_csrf" />
                            <input type="hidden" id="boardNo" name="boardNo" th:value="${liveBoard.boardNo}">
                            <input type="hidden" id="title" th:value="${liveBoard.title}">
                            <input type="hidden" id="price" th:value="${liveBoard.price}">
                            <input type="hidden" id="name" name="name" th:value="${#authentication.principal.users.name}" >
                            <input type="hidden" id="email"  th:value="${#authentication.principal.users.email}" >
                            <input type="hidden" id="phone"  name="phone" th:value="${#authentication.principal.users.phone}" >
                            <input type="hidden" id="count"   name="count" value="0">
                            
                            <button type="button" id="btn-purchase">예매하기</button>
                        </form>
                    </div>
                </th:block>
            </div>
        </div>


        <div class="textContainer">
            <p th:utext="${liveBoard.content}"></p>
        </div>
        
       
        
        
        <!-- 댓글 입력 -->
        <h2 style="margin: 20px;" id="totalCount"></h2>
        <th:block sec:authorize="isAuthenticated()">
            <input type="hidden" name="username" id="username" th:value="${#authentication.principal.users.username}">
            <input type="hidden" name="profileNo" id="profileNo" th:value="${#authentication.principal.users.profileNo}">
        <div class="input-box">
            <div class="imgDiv">
                <!-- 여기 추가 -->
                <th:block  th:if="${#authentication.principal.users.profileNo != 0}">
                    <img th:src="|/file/img/${#authentication.principal.users.profileNo}|" alt="프로필사진">
                </th:block>
                <th:block th:if="${#authentication.principal.users.profileNo == 0}">
                <img src="/img/defaultProfile.png" alt="프로필사진">
                </th:block>
            </div>
            <div class="comment-input">
                <input type="hidden" name="writer" id="comment-writer" placeholder="작성자" th:value="${#authentication.principal.users.nickname}" readonly>
                <br>
                <textarea name="content" id="comment-content" 
                cols="10" rows="1" placeholder="댓글 추가..."></textarea>
                <div class="btn-box">
                    <a href="javascript:;" id="btn-comment-insert" class="btn btn-sm">등록</a>
                </div>
                <div class="btn-box-can">
                    <a href="javascript:;" id="btn-comment-del" class="btn btn-sm">취소</a>
                </div>
            </div>
        </div>
        <script>
             // 취소 버튼을 누르면 input태그 안의 글이 삭제됨
            document.getElementById("btn-comment-del").addEventListener("click", function() {
                document.getElementById("comment-content").value = ""; // 댓글 내용을 비움
            });
        </script>
        </th:block>

        <!-- 댓글 목록 -->
        <div id="comment-list">

        </div>
    </div>


<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--포트원 라이브러리 추가 -->
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script>

let boardNo = "[[${liveBoard.boardNo}]]"
let username = $(`#username`).val() != null ? $(`#username`).val() : `GUEST`;
let profileNo = $(`#profileNo`).val() != null ? $(`#profileNo`).val() : 0;
if( boardNo != null ) {
getCommentList()
}




// 댓글 목록 조회
function getCommentList() {

const url = 'http://localhost:8080/liveBoard/commentList'

let data = {
    'parentNo' : boardNo
}

$.ajax({
    url : url,
    type : 'get',
    data : data,
    success : function(response) {
                    let totalCount = 0
                    let commentList = response
                    if(commentList.length==0){
                        
                        let msg = `
                        <div class="commentContainer">
                            <span>댓글이 없습니다.</span>
                        </div>
                        `
                        $('#comment-list').html(msg)
                        $(`#totalCount`).html(`<span>댓글 ${totalCount}개</span>`)
                        initCommentEvent()
                        return
                    }
                    totalCount =  commentList[0].totalCount
                    $(`#totalCount`).html(`<span>댓글 ${totalCount}개</span>`)


                    console.log(commentList)

                    let commentData = ''
                    for (let i = 0; i < commentList.length; i++) {
                        let comment = commentList[i]

                        let date = new Date(comment.regDate);
                        let regDate = date.toISOString().split("T")[0];
                        let regTime = date.toISOString().split("T")[1];
                        regTime = regTime.split(".")[0]


                        let commentBox 
                            =   `   
                                <div class="commentContainer">`
                                        if(comment.profileNo != 0){
                                        commentBox +=`<div class="imgDiv">
                                            <img src="/file/img/${comment.profileNo}" alt="프로필" style="width:50px; height:50px; border-radius:100%; box-shadow:0px 0px 10px gray;">
                                            </div>
                                            `
                                        }else{
                                            commentBox +=`<div class="imgDiv">
                                                <img src="/img/defaultProfile.png" alt="프로필" style="width:50px; height:50px; border-radius:100%; box-shadow:0px 0px 10px gray;">
                                                </div>
                                                `
                                            }
                                        commentBox +=
                                        `
                                    <div class="comment-box">
                                        <div class="data-box">
                                            <div class="top">
                                                <div class="itemSt">
                                                    
                                                    <h2 class="comment-writer">${comment.writer}</h2>
                                                    <span class="comment-date">${regDate} ${regTime}</span>
                                                </div>
                                                    `
                                                if(commentList[i].username==username){
                                                    commentBox +=`
                                                <div class="itemsNd">
                                                        <a href="javascript:;" class="btn btn-sm btn-comment-update" data="${comment.commentNo}">수정</a>
                                                        <a href="javascript:;" class="btn btn-sm btn-comment-delete" data="${comment.commentNo}">삭제</a>
                                                </div>
                                                    `
                                                }
                                                commentBox +=`
                                            </div>
                                            <div class="bottom">
                                                <p class="comment-content">${comment.content}</p>
                                            </div>
                                        </div>
                                        <div class="edit-box"></div>
                                    </div>
                                </div>
                                `
                            commentData += commentBox
                        }


                    $('#comment-list').html(commentData)
                    initCommentEvent()

    },
    error : function(error) {

    }
})
}

// 댓글 등록 버튼 - 클릭 이벤트
$('#btn-comment-insert').on('click', function() {
let writer = $('#comment-writer').val()
let content = $('#comment-content').val()

insertComment( writer, content )
})
$('#comment-content').on('keyup', function (event) {
            let writer = $('#comment-writer').val()
            let content = $('#comment-content').val()

            if (event.keyCode == 13)
                insertComment(writer, content)
        })


// 댓글 등록
function insertComment( writer, content ) {

const url = 'http://localhost:8080/liveBoard/commentInsert'

let data = {
    'parentNo'   : boardNo,
    'parentTable' : 'live_board',
    'writer'    : writer,
    'content'   : content,
    'username' : username,
    'profileNo' : profileNo
}

$.ajax({
    url : url,
    type : 'GET',
    data : data,
    success : function(response) {
        let result = response
        console.log(result)
        if( result == 'SUCCESS' ) {
            // alert('댓글 등록이 완료되었습니다.')
            Swal.fire(
                '완료!',
                '댓글 등록이 완료되었습니다.',
                'success'
            )
            // 댓글 목록 갱신
            getCommentList()

            // 작성한 댓글 입력내용 초기화
            $('#comment-content').val('')

        }
    },
    error           : function(request, status, error){
        // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        Swal.fire(
            '에러!',
            'code:' + request.status,
            'error'
        )
    }
})
}


// 댓글 [수정][삭제][답글] - 이벤트 등록
function initCommentEvent() {

// 댓글 [수정]
$('.btn-comment-update').on('click', function() {
    // 작성자, 내용 가져오기
    let btn = $(this)
    let commentNo = btn.attr('data')
    let commentBox = btn.parents('.comment-box')
    let commentWriter = commentBox.find('.comment-writer')
    let commentContent = commentBox.find('.comment-content')

    let writer = commentWriter.text()
    let content = commentContent.text()

    console.log( btn.parents() )                        // 부모요소
    console.log( btn.parents('.comment-box') )          // 특정 상위요소
    console.log( commentBox.children() )                // 자식요소
    console.log( commentBox.find('.comment-writer') )   // 특정 하위요소
    console.log( writer );
    console.log( content );

    // 수정 중인 다른 댓글 UI 초기화
    $('.data-box').show()
    $('.edit-box').empty()
    $('.reply-box').remove()

    // 댓글 보기 숨김
    commentBox.find('.data-box').hide()

    // 댓글 수정 UI 추가
    let editBox 
    = `<div class="top">
            <div class="item">
                <h2 class="comment-writer">${writer}</h2>
            </div>
            <div class="item">
                
            </div>
        </div>
        <div class="bottom">
            <textarea id="input-update-content" cols="40" rows="1">${content}</textarea>
            <div class="etc-box">
                <a href="javascript:;" class="btn btn-sm" id="btn-comment-update" data="${commentNo}">수정</a>
                <a href="javascript:;" class="btn btn-sm" id="btn-comment-cancel">취소</a>
            </div>
        </div>
        `
    commentBox.find('.edit-box').html(editBox)    

    // 댓글 [수정] 취소 버튼 클릭
    $('#btn-comment-cancel').on('click', function() {

        commentBox.find('.data-box').show()
        commentBox.find('.edit-box').empty()
        // $('.comment-box .data-box').show()
        // $('.comment-box .edit-box').empty()
    })

    // 댓글 [수정] 수정 버튼 클릭
    $('#btn-comment-update').on('click', function() {

        let url = 'http://localhost:8080/liveBoard/commentUpdate'
        let writer = $(`#comment-writer`).val()
        let data = {
            commentNo   : commentNo,
            writer: writer,
            content     : $('#input-update-content').val(),
        }

        $.ajax({
            url     : url,
            type    : 'GET',
            data    : data,
            success : function(response) {
                let result = response
                if( result == 'SUCCESS' ) {
                    // alert('댓글 수정이 완료되었습니다.')

                    Swal.fire(
                        '완료!',
                        '댓글 수정이 완료되었습니다.',
                        'success'
                    )

                    // 댓글 목록 갱신
                    getCommentList()
                }

            },
            error           : function(request, status, error){
                // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                Swal.fire(
                    '에러!',
                    'code:' + request.status,
                    'error'
                )
            }
        })


    })
    $('#input-update-content').on('keyup', function (event) {

if (event.keyCode == 13) {



    let url = 'http://localhost:8080/team/commentUpdate'
    let writer = $(`#comment-writer`).val()
    let data = {
        commentNo: commentNo,
        writer: writer,
        content: $('#input-update-content').val(),
    }

    $.ajax({
        url: url,
        type: 'GET',
        data: data,
        success: function (response) {
            let result = response
            if (result == 'SUCCESS') {

                Swal.fire(
                    '완료!',
                    '댓글 수정이 완료되었습니다.',
                    'success'
                )

                getCommentList()
            }

        },
        error: function (request, status, error) {
            Swal.fire(
                '에러!',
                'code:' + request.status,
                'error'
            )
        }
    })
}
})
    
})
// 댓글 [삭제]
$('.btn-comment-delete').on('click', function() {
    let commentNo = $(this).attr('data')

    // let check = confirm('정말로 삭제하시겠습니까?')
    // if( !check )
    //     return

    // sweetalert - confirm
    Swal.fire({
        title: '정말로 삭제하시겠습니까?',
        text: "삭제하면 되돌릴 수 없습니다!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '예',
        cancelButtonText: '아니오',
    }).then((result) => {
        // result.isConfirmed : true  [예]
        // result.isConfirmed : false  [아니오]
        if (result.isConfirmed) {
            deleteCommentData(commentNo)
        }
    })
})


// 댓글 삭제
function deleteCommentData(commentNo) {

    
    let url = 'http://localhost:8080/liveBoard/commentDelete'
    let data = {
        commentNo   : commentNo,
    }

    $.ajax({
        url     : url,
        type    : 'GET',
        data    : data,
        success : function(response) {
            let result = response
            if( result == 'SUCCESS' ) {
                // alert('댓글 삭제가 완료되었습니다.')
                Swal.fire(
                    '완료!',
                    '댓글 삭제가 완료되었습니다.',
                    'success'
                )
                // 댓글 목록 갱신
                getCommentList()
            }

        },
        error           : function(request, status, error){
            // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            Swal.fire(
                '에러!',
                'code:' + request.status,
                'error'
            )
        }
    })
}

}

        
        // 목록으로 이동
        function moveList() {
            location.href = "/liveBoard/list"
        }

        // 수정으로 이동
        function moveUpdate() {
            const boardNo = $('#boardNo').val()
            location.href = "/liveBoard/update?boardNo=" + boardNo;
        }
       

         // 등록 버튼 - 클릭 이벤트
        $('#btn-purchase').on('click', function() {
            // 등록 요청
            let formData = new FormData()       // 폼 데이터 객체
            let _csrf_name = $('#_csrf').attr('name')
            let _csrf_value = $('#_csrf').val()
            let boardNo = $('#boardNo').val()
            let title = $('#title').val()
            let ticketPrice = $('#price').val()
            let name = $('#name').val()
            let phone = $('#phone').val()
            let email = $('#email').val()
            let count = $('#count').val()

            formData.append(_csrf_name, _csrf_value )
            formData.append('boardNo', boardNo)
            formData.append('name', name)
            formData.append('phone', phone)
            formData.append('count', count)
            

            let url = 'http://localhost:8080/liveBoard/ticketNum'
            $.ajax({
                url             :   url,
                type            :   'POST',
                data            :   formData,
                contentType     :   false,
                processData     :   false,      // 데이터 컨텐츠 타입 자동 변환 여부
                                                // 기본값(true) 
                                                // true  -> contentType  : application/x-www-form-urlencoded
                                                // false -> contentType  : 데이터를 자동으로 처리하지 않고 직접 지정
                success         : function(response) {
                    if( response == 'SUCCESS' ){
                        //결제 모듈 가져오기

                        // 2️⃣  객체 초기화 하기
                        var IMP = window.IMP; 
                        // IMP.init("imp67011510"); 
                        IMP.init("imp48458232"); 
                        
                        var today = new Date();   
                        var hours = today.getHours(); // 시
                        var minutes = today.getMinutes();  // 분
                        var seconds = today.getSeconds();  // 초
                        var milliseconds = today.getMilliseconds();
                        var makeMerchantUid = hours +  minutes + seconds + milliseconds;


 

                            // 결제 정보 가져오기
                            let productName = title
                            let price = ticketPrice * count
                            let buyername = name
                            let tel = phone
                            let buyeremail = email

                            IMP.request_pay({
                                pg : 'kcp',                                 // PG사
                                pay_method : 'card',                        // 결제방식
                                merchant_uid: "IMP"+makeMerchantUid,        // 주문번호(상품ID)
                                name : productName,                         // 상품명
                                amount : price,                              // 결제금액
                                buyer_email : buyeremail,                        // 결제자 이메일
                                buyer_name : buyername,                          // 결제자 이름
                                buyer_tel : tel,                            // 결제자 전화번호
                                // buyer_addr : "",                       // 결제자 주소
                                // buyer_postcode : "",                   // 결제자 우편번호
                                // m_redirect_url : "success"          //  "리디렉션 URL", (리디렉션 방식의 경우 callback은 실행되지 않습니다.)
                            }, function (rsp) { // callback

                                clearInterval(timerId)

                                if (rsp.success) {
                                    // 결제 성공
                                    console.log(rsp);
                                    //티켓 구매
                                    let formData = new FormData()       // 폼 데이터 객체
                                    let _csrf_name = $('#_csrf').attr('name')
                                    let _csrf_value = $('#_csrf').val()
                                    let boardNo = $('#boardNo').val()
                                    let name = $('#name').val()
                                    let phone = $('#phone').val()
                                    let count = $('#count').val()
                                    formData.append(_csrf_name, _csrf_value )
                                    formData.append('boardNo', boardNo)
                                    formData.append('name', name)
                                    formData.append('phone', phone)
                                    formData.append('count', count)
                                    

                                    let url = 'http://localhost:8080/liveBoard/purchase'
                                    $.ajax({
                                        url             :   url,
                                        type            :   'POST',
                                        data            :   formData,
                                        contentType     :   false,
                                        processData     :   false,      // 데이터 컨텐츠 타입 자동 변환 여부
                                                                        // 기본값(true) 
                                                                        // true  -> contentType  : application/x-www-form-urlencoded
                                                                        // false -> contentType  : 데이터를 자동으로 처리하지 않고 직접 지정
                                        success         : function(response) {
                                            if( response == 'SUCCESS'){
                                                alert('티켓 구매가 완료되었습니다.')
                                                // 리다이렉트
                                                location.href = '/liveBoard/complete'
                                            }
                                            if( response == 'OVERCOUNT' ){
                                                alert('잔여티켓보다 구매티켓 수가 많습니다.')

                                                    // 결제 모듈 강제 종료
                                                    // 리다이렉트
                                                    location.href = '/liveBoard/read?boardNo='+boardNo
                                                
                                            }
                                            if( response == 'ZERO' ){
                                                alert('매진 되었습니다.')
                                                    // 결제 모듈 강제 종료
                                                    // 리다이렉트
                                                    location.href = '/liveBoard/read?boardNo='+boardNo
                                            }

                                        },
                                        error           : function(request, status, error){
                                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                                        }

                                    })







                                    // 결제 완료 페이지로 이동
                                    // location.href = 'success?result=ok&proudctId=' + ("IMP"+makeMerchantUid)

                                    // 또는 ajax 요청 처리 후 이동
                                } else {
                                    // 결제 실패
                                    console.log(rsp);
                                    // 리다이렉트
                                    location.href = '/liveBoard/read?boardNo='+boardNo
                                }
                            });
                        



                    }
                    if( response == 'OVERCOUNT' ){
                        alert('잔여티켓보다 구매티켓 수가 많습니다.')
                        // 리다이렉트
                        location.href = '/liveBoard/read?boardNo='+boardNo
                    }
                    if( response == 'ZERO' ){
                        alert('매진되었습니다.')
                        // 리다이렉트
                        location.href = '/liveBoard/read?boardNo='+boardNo
                    }
                    if( response == 'TICKETZERO' ){
                        alert('선택한 티켓 수량을 선택하지 않았습니다.')
                        // 리다이렉트
                        location.href = '/liveBoard/read?boardNo='+boardNo
                    }

                },
                error           : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }

            })




            let timerId = setInterval(() => {
            console.log("Delayed for 1 second.");
            // 매진 체크
            // 등록 요청
            let formData = new FormData()       // 폼 데이터 객체
            let _csrf_name = $('#_csrf').attr('name')
            let _csrf_value = $('#_csrf').val()
            let boardNo = $('#boardNo').val()
            let name = $('#name').val()
            let phone = $('#phone').val()
            let count = $('#count').val()
            formData.append(_csrf_name, _csrf_value )
            formData.append('boardNo', boardNo)
            formData.append('name', name)
            formData.append('phone', phone)
            formData.append('count', count)
            

            let url = 'http://localhost:8080/liveBoard/ticketNum'
            $.ajax({
                url             :   url,
                type            :   'POST',
                data            :   formData,
                contentType     :   false,
                processData     :   false,      // 데이터 컨텐츠 타입 자동 변환 여부
                                                // 기본값(true) 
                                                // true  -> contentType  : application/x-www-form-urlencoded
                                                // false -> contentType  : 데이터를 자동으로 처리하지 않고 직접 지정
                success         : function(response) {

                    if( response == 'OVERCOUNT' ){
                        alert('잔여티켓보다 구매티켓 수가 많습니다.')

                            // 결제 모듈 강제 종료
                            // 리다이렉트
                            location.href = '/liveBoard/read?boardNo='+boardNo
                        
                    }
                    if( response == 'ZERO' ){
                        alert('매진 되었습니다.')
                            // 결제 모듈 강제 종료
                            // 리다이렉트
                            location.href = '/liveBoard/read?boardNo='+boardNo
                    }

                },
                error           : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }

            })


        }, 1000);

        })

        // 매수 카운트 1 증가
        var count=0;
        function increase(){
            count=count+1;
            document.querySelector("#countNum").innerText=count;
            $("#count").val(count)
        }

        // 매수 카운트 1 감소
        function decrease(){
            if ( document.querySelector("#countNum").innerText > 0 ) {
                count=count-1;
                document.querySelector("#countNum").innerText=count;
                $("#count").val(count)
            }
        }


        //게시글 삭제. 2단 체크. 버튼 발생 1차, sql문 조건 2차
        function deleteBoard(){
            let form = $(`#delete`)
            form.submit()
        }

        $(document).ready(function() {
            $('#comment-content').on('input', function () {
                this.style.height = 'auto'; // 높이 초기화
                this.style.height = (this.scrollHeight) + 'px'; // 스크롤 높이에 따라 높이 조절
            });
        });

       
        



    </script>
</body>
</html>