<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공연 게시글 읽기</title>
</head>
<body>
    <h1>공연 게시글 읽기</h1>
    <form action="/board/delete" method="POST" id="form">
        <input type="hidden" name="boardNo" th:value="${board.boardNo}">

        <h2>공연 제목</h2>
        <img src="/Ticketing/img/밴드01.jfif" alt="" style="width: 200px;">

        <table>
            <tr>
                <td>공연일자</td>
                <td>
                    2023-10-30
                </td>
            </tr>
            <tr>
                <td>공연시간</td>
                <td>
                    PM - 6:00 ~ PM - 10:00
                </td>
            </tr>
            <tr>
                <td>공연진</td>
                <td>
                    소란, 소란2, 소란3, 소란4
                </td>
            </tr>
            <tr>
                <td>수용인원</td>
                <td>
                    300명
                </td>
            </tr>
            <tr>
                <td>티켓가격</td>
                <td>
                    300,000
                </td>
            </tr>
            <tr>
                <td>지역</td>
                <td>
                    서울 성수동
                </td>
            </tr>
            <tr>
                <td>잔여티켓</td>
                <td>
                    134장
                </td>
            </tr>
            <tr>
                <td>매진여부</td>
                <td>
                    정상판매 / 매진
                </td>
            </tr>
            <tr>
                <td>매수</td>
                <td>
                    <!-- 버튼 클릭 시 숫자가 증감함 -->
                    <div>
                        <h3 id="countNum">0</h3>
                        <div id="countBtn" onclick="increase()">+</div>
                        <div id="countBtn" onclick="decrease()">-</div>
                    </div>
                </td>
            </tr>

        </table>
    </form>
    
    <div>
        <button type="button" onclick="moveList()">목록</button>
        <button type="button" onclick="moveUpdate()">수정</button>
    </div>

    <div style="background-color: darkgrey; width: 500px; height: 800px;">
        <h2>이 부분에 공연에 대한 세부 내용이 나옵니다.</h2>
    </div>

    <script>

        
        // 목록으로 이동
        function moveList() {
            location.href = "#"
        }

        // 수정으로 이동
        function moveUpdate() {
            location.href = "#"
        }


        // 매수 카운트 1 증가
        var count=0;
        function increase(){
            count=count+1;
            document.querySelector("#countNum").innerText=count;
        }

        // 매수 카운트 1 감소
        function decrease(){
            if ( document.querySelector("#countNum").innerText > 0 ) {
                count=count-1;
                document.querySelector("#countNum").innerText=count;
            }
        }

    </script>
</body>
</html>