<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공연 게시글 수정</title>
</head>
<body>
    <h1>공연 게시글 수정</h1>
    <form action="#" method="POST" id="form">
        <input type="hidden" name="#" th:value="${#.#}">

        <table>
            <tr>
                <td>제목
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>공연진</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>공연일자</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>공연 시간</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>지역</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>장소</td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <!-- 글 작성 에디터 -->
            <tr>
                <td>게시글 적성 에디터</td>
                <td>
                    <textarea type="text"></textarea>
                </td>
            </tr>
            <tr>
                <td>티켓 가격</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>수용인원</td>
                <td>
                    <input type="text">
                </td>
            </tr>

            <!-- 이미지 추가에 대한 것 -->
            <tr>
                <td>이미지 추가</td>
                <td>
                    이미지 추가하는 부분이 올 것
                </td>
            </tr>
        </table>

    </form>
    
    <div>
        <button>목록</button>
        <button>수정</button>
    </div>

    <script>

        
        // 목록으로 이동
        function moveList() {
            location.href = ㅇ
        }

        // 수정하기
        function actionUpdate() {
            location.href = ㅇ
        }

 
    </script>
</body>
</html>