<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공연 팀 모집</title>
</head>
<body>
    <h1>공연 팀 모집</h1>


    <table border="1">
        <tr>
            <th width="100">마감</th>
            <th width="300">제목</th>
            <th width="100">팀 모집 현황</th>
            <th width="100">작성자</th>
            <th width="80">가격</th>
            <th width="100">지역</th>
            <th width="100">공연일자</th>
            <th width="100">등록일자</th>
        </tr>

        <tr>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
        </tr>
          
    </table>
</body>
</html>