<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공연팀 모집</title>
</head>
<body>
    <h1>공연팀 모집</h1>
        <input type="hidden" name="boardNo" th:value="${board.boardNo}">

    <h2>공연 제목에 대한 부분이 나옵니다.</h2>

    <table>
        <tr>
            <td>조회수</td>
            <td th:text="${team.views}"></td>
          </tr>
        <tr>
            <td>모집 팀 수</td>
            <td th:text="${team.capacity}+'팀'"></td>
        </tr>
        <tr>
            <td>공연일자</td>
            <td th:text="${team.liveDate}"></td>
        </tr>
        <tr>
            <td>공연시간</td>
            <td th:text="${team.liveStDate}+' ~ '+${team.liveEndDate}"></td>
        </tr>
        <tr>
            <td>지역</td>
            <td th:text="${team.location}"></td>
        </tr>
        <tr>
            <td>장소</td>
            <td th:text="${team.address}"></td>
        </tr>
        <tr>
            <td>팀 모집 현황</td>
            <td th:text="${team.recStatus} +'/'+${team.capacity}"></td>
        </tr>
    </table>

    <div>
        <button type="button" onclick="moveList()">목록</button>
        <button type="button" onclick="moveApplication()">신청</button>

        <th:block th:if="team.username.equals(#authentication.principal.users.getUsername)">

        <a th:href="|/team/update?teamNo=${team.teamNo}|">수정</a 

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="_csrf.token">
            <input type="hidden" name="teamNo" th:value="${team.teamNo}">
            <input type="hidden" name="recStatus" th:value="${team.recStatus}">
            <input type="submit" value="삭제">

        </form>

      </th:block>
    </div>

    <div style="background-color: darkgrey; width: 500px; height: 800px;">
        <p th:text="${team.content}">

        </p>
    </div>
    
    <script>
        let teamNo = "[[${team.teamNo}]]"
        // 목록으로 이동
        function moveList() {
            location.href = "/team"
        }

        // 신청으로 이동
        function moveApplication() {
            location.href = `/team/app?teamNo=${teamNo}`
        }

    </script>
</body>
</html>