<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/UI/user/layout/main_layout}">

<head>
  <title>공연 팀 참가 신청</title>
  <link rel="stylesheet" href="/css/update.css">
</head>

<body layout:fragment="content">

  <div id="topContent">
    <h1>공연팀 참가 신청</h1>
    <p>공연팀 참가 신청글을 작성합니다. 꼼꼼하게 수정해 주세요.</p>
    <hr>
  </div>
  <div id="insertContainer">
    <form action="/team/app" method="POST" id="form">
      <input type="hidden" name="teamNo" th:value="${team.teamNo}">
      <input type="hidden" name="username" th:value="${#authentication.principal.users.username}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="_csrf">
      <div class="tableContainer">
        <table>
          <tr>
            <td>제목</td>
            <td>
              <input type="text" name="title" id="title">
            </td>
          </tr>
          <tr>
            <td>밴드명</td>
            <td>
              <input type="bandName" name="bandName" id="bandName">
            </td>
          </tr>
          <input type="hidden" name="phone" id="phone" th:value="${#authentication.principal.users.phone}">
          <tr>
            <td>게시글 적성 에디터</td>
            <td>
              <textarea type="text" name="content" id="content"></textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="submitDiv">
                <input type="submit" value="참가신청">
              </div>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
  <script>
       var toolbar = [
        // 글꼴 설정
        ['fontname', ['fontname']],
        // 글자 크기 설정
        ['fontsize', ['fontsize']],
        // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
        ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
        // 글자색
        ['color', ['forecolor','color']],
        // 표만들기
        ['table', ['table']],
        // 글머리 기호, 번호매기기, 문단정렬
        ['para', ['ul', 'ol', 'paragraph']],
        // 줄간격
        ['height', ['height']],
        // 그림첨부, 링크만들기, 동영상첨부
        ['insert',['picture','link','video']],
        // 코드보기, 확대해서보기, 도움말
        ['view', ['codeview','fullscreen', 'help']]
    ];

    var setting = {
        height : 300,
        minHeight : null,
        maxHeight : null,
        focus : true,
        lang : 'ko-KR',
        toolbar : toolbar,
        callbacks : { 

            onImageUpload : function(files, editor, welEditable) {
                for (var i = files.length - 1; i >= 0; i--) {
                    uploadImage(files[i], this);
                }
            }
        }
    };



    $('#content').summernote(setting)
    let _csrf_name = $('#_csrf').attr('name')
    let _csrf_value = $('#_csrf').val()  
      // 에디터 파일 업로드
      function uploadImage(file, element) {
            const fileUrl = 'http://localhost:8080/file'
            const url = 'http://localhost:8080/file'

            let formData = new FormData()
            formData.append(_csrf_name, _csrf_value )
            formData.append("file", file)

            $.ajax({
                url : url,
                type : "post",
                data : formData,
                contentType : false,
                processData : false,
                success : function(response) {
                    let fileNo = response
                    // let img = `<img src="${fileUrl}/img/${fileNo}">`
                    let imgUrl = `${fileUrl}/img/${fileNo}`
                    // 업로드된 이미지url 를 에디터에 추가
                    $(element).summernote('editor.insertImage', imgUrl)
                },
                error : function(error) {

                }
                
            })
        }


  </script>
</body>

</html>