<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <title>공연 팀 참가 신청</title>
</head>
<body layout:fragment="content">

  <h1>공연 팀 참가 신청</h1>

  <form action="/team/app" method="POST" id="form">
    <input type="hidden" name="teamNo" th:value="${team.teamNo}">
    <input type="hidden" name="username" th:value="${#authentication.principal.users.username}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="_csrf.token">

    <table>
      <tr>
        <td>제목</td>
        <td>
          <input type="text" name="title" id="title">
         </td>
      </tr>
      <tr>
        <td>밴드명</td>
        <td>
          <input type="bandName" name="bandName" id="bandName">
         </td>
      </tr>
      <tr>
        <td>연락처</td>
        <td> 
          <input type="phone" name="phone" id="phone">
         </td>
      </tr> <!-- 글 작성 에디터 -->
      <tr>
        <td>게시글 적성 에디터</td>
        <td>
           <textarea type="text" name="content" id="content"></textarea>
         </td>
      </tr>
    </table>
    <div> 
      <a href="/team">목록</a>
      <input type="submit" value="참가신청">
    </div>


  </form>
  <script>



  </script>
</body>

</html>