body {
    overflow-x: hidden;
}

/* 동영상 관련 css */
/* .bg-video {
        height: 100vh;
        z-index: -1;
    }

    .bg-video__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .video_detail {
        z-index: 100;
        color: white;
    }

    .video_detail a {
        z-index: 101;

    } */

/* 비디오 위의 텍스트에 관한 설정 */
/* .video_detail_text {
        position: absolute;
        top: 35%;
        left: 5%;
        transform: translate(-50%, -50%);

        opacity: 0;
        transform: translateY(30px);
        transition: all 1s ease-out;
    }

    .video_detail_text.show {
        opacity: 1;
        transform: translateY(0);
    }

    .video_detail_text h1 {
        font-size: 80px;
    }

    .video_detail img {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100px;
        width: 300px;
        object-fit: cover;
        opacity: 0.75;
    }


    /* 클랙했을 때 아래로 내려가는 css */
/* .click_for_scroll {
        font-size: 30px;
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    @keyframes moveUpDown {

        0%,
        100% {
            transform: translateY(0);
        }

        90% {
            transform: translateY(5px);
        }
    }

    .click_for_scroll {
        animation: moveUpDown 2s linear infinite;
    } */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.headerCon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerCon .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.total_box {
    height: 300vh;
}

.total_box_inner {
    position: sticky;
    top: 0;
}

.showcase {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

.showcase.active {
    right: 280px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.text_ {
    position: absolute;
    top: 35%;
    left: 7%;
    z-index: 10;
}

.text_ h2 {
    font-size: 4.5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text_ h3 {
    font-size: 2.8em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text_ p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text_ a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text_ a:hover {
    letter-spacing: 6px;
}

.social_ {
    position: absolute;
    z-index: 10;
    left: 3.4rem;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_ li {
    list-style: none;
    width: 30px;
}

.social_ li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}

.social_ li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.social_>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.menu_ {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_ ul {
    position: relative;
}

.menu_ ul li {
    list-style: none;
}

.menu_ ul li a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.menu_ ul li a:hover {
    color: #03a9f4;
}

@media (max-width: 991px) {

    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text_ h2 {
        font-size: 3em;
    }

    .text_ h3 {
        font-size: 2em;
    }
}



.section5 {
    height: 100vh;
    background-color: black;
    color: white;
}

/* 클랙했을 때 아래로 내려가는 css */
.click_for_scroll {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(5px);
    }
}

.forImg img {
    width: 800px;
    object-fit: cover;
    /* background-color: rgba(0, 0, 0); */
    /* opacity: 0.8; */
}

/* section3 부분 */
.scroller {
    max-width: 600px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller__inner img {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
    border-radius: 15px;
    height: 200px;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* general styles */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

html {
    color-scheme: dark;
}

.box_scoll {
    display: grid;
    min-block-size: 100vh;
    place-content: center;
    font-family: system-ui;
    font-size: 1.125rem;
    background-color: ;
    /* background-color: var(--clr-primary-800); */
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
    color: white;
    padding: 10px 25px;
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
    background: red !important;
}

.section2_box {
    display: flex;
    
}

/* section2 구역 */
.box_inner_R {
    border: white;
    color: white;
}

.box_inner_L {
    border: white;
    color: white;
}

.box_inner_R_top  {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    justify-content: start;
    padding-top: 5rem;
  }

.box_inner_R_bottom {
    width: 50vw;
    height: 50vh;
    border-top: 1px solid gray;
}

.box_inner_L_both {
    width: 50vw;
    height: 100vh;
    border-left: 1px solid gray;
}

/* section2 텍스트 */
.box_inner_R_top h1:nth-child(1) {
    margin-left: 5rem;
    font-size: 6.5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.box_inner_R_top h1:nth-child(2) {
    margin-left: 5rem;
    font-weight: 300;
} 
.box_inner_R_top h1:nth-child(3) {
    margin-left: 5rem;
    font-weight: 300;
} 
.box_inner_R_top h1:nth-child(4) {
    margin-left: 5rem;
    font-weight: 500;
} 

.box_inner_R_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 세로로 긴 이미지 */
.box_inner_R_bottom .img_box {
    display: flex;
    column-gap: 20%;
    justify-content: space-around;
    /* align-items: center; */
    /* margin: 1.5rem; */
}

.box_inner_R_bottom img {
    /* margin: 5rem 0; */
    width: 9rem;
    height: 17rem;
    border-radius: 10px;
    object-fit: cover;
}

.staticVideoSection iframe {
    border-radius: 20px;
    margin: 2rem 0 2rem 2rem;
}

/* 가로로 긴 이미지 */
.widthImg {
    display: flex;
    justify-content: space-around;
}

.widthImg img {
    width: 17rem;
    height: 10rem;
    border-radius: 10px;
    object-fit: cover;
    
}

