@media (max-width: 1320px) {
    /* 화면 너비가 1000px 이하일 때의 스타일 지정 */
    body {
        min-width: 1320px; /* 최소 너비를 1000px로 설정 */
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: rgb(248, 249, 250);
    /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
    font-family: sans-serif;
    font-weight: 100;
}

#topContent {
    height: 800px;
    margin: 20px 0;
    background: linear-gradient(180deg, #916ea9, rgb(248, 249, 250));
}

#teamListContainer {
    margin-top: 150px;
}

#teamListContainer>h1 {
    color: black;
}

#teamListContainer>.page-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1320px;
    margin-bottom: 10px;

}

#teamListContainer>.page-box>.item 
select, input {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-style: none;
}

#teamListContainer>.page-box>.search_item {

}

.tableContainer {
    display: flex;
    justify-content: center;
}

table {
    width: 1320px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    text-align: center;
}

th {
    background-color: rgb(41, 43, 50);;
    color: white;
    text-align: center;
}

thead {
    th {
        background-color: #55608f;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    td {
        position: relative;

        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255, 255, 255, 0.2);
                z-index: -1;
            }
        }
    }
}

/* 페이지네이션 관련 */
#paginationContainer {
    margin-top: 20px;
}

#paginationContainer>.pagination_count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

/* 페이지네이션 관련 */
#paginationContainer>.pagination_count a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
#paginationContainer>.pagination_count a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
/* #paginationContainer>.pagination_count>.page-list a {
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 100px;
} */

/* 검색 관련 */
.search_item a {
    text-decoration: none;
    color: black;
    height: 45px;
    padding-top: 5px;
}
.search_item a:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(248, 249, 250);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
