
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


.body2 {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.login-form h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.int-area {
    width: 400px;
    position: relative;
    margin-top: 20px;
}

.int-area:first-child {
    margin-top: 0;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    outline: none;
}

.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    transition: top 0.5s ease;
}

.int-area label .warning {
    color: red !important;
    animation: warning 0.3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }

    25% {
        transform: translateX(8px);
    }

    50% {
        transform: translateX(-8px);
    }

    75% {
        transform: translateX(8px);
    }
}

.int-area input:focus+label,
.int-area input:valid+label {
    top: -2px;
    font-size: 13px;
    color: #166caa;
}

.btn-area {
    margin-top: 30px;
}

.btn-area button {
    width: 100%;
    height: 50px;
    margin: 0px 10px;
    color: #fff;
    background: #166caa;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}

.caption a {
    margin: 0 20px;
    font-size: 15px;
    color: blue;
    text-decoration: none;
}

/* 아이디 저장, 자동 로그인 부분 */
.btn-div {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}