.container {

}

.imgClass {
    position: absolute;
    order: 10;
    color: #fff;
}

.imgInText {
    position: absolute;
    margin: 40px;
    margin-top: 100px;
}

.imgClass>img {
    border-radius: 20px;
    margin-right: 300px;
    box-shadow: 3px 3px 10px gray;
}

.container {
    margin-left: 250px;
    position: absolute;
    background-color: white;
    width: 650px;
    padding: 30px 75px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px gray;
    order: 0;
}

form {
    width: 500px;
}

.plus_flex {
    display: flex;
    justify-content: space-between;
}

/* 중복검사 버튼 사이즈 */
.dul_btn_size {
    font-size: 12px;
    width: 150px;
    margin-left: 10px;
}

/* 폼 제출 버튼 */
.submit_button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.submit_button>input {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: #222222;
    border: none;
    color: white;
}

.submit_button>input:hover {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: #9b9b9b;
    border: none;
    color: white;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

/* demo */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    ;
}

#group {
    padding: 0px 10px;
    height: 48px;
    width: 150px;
    border-radius: 5px;
    font-size: 12px;
}